.ha-card > .elementor-widget-container, .ha-infobox > .elementor-widget-container, .ha-icon-box > .elementor-widget-container, .ha-member > .elementor-widget-container, .ha-review > .elementor-widget-container, .ha-image-compare > .elementor-widget-container {
  background-color: #fff;
  box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-radius: .5rem; }

.happy-addon {
  box-sizing: border-box; }
  .happy-addon * {
    box-sizing: border-box; }
  .happy-addon img {
    max-width: 100%;
    height: auto;
    object-fit: cover; }
  .happy-addon p:empty {
    display: none; }

.ha-cf:before, .ha-logo-grid-wrapper:before, .ha-cf:after, .ha-logo-grid-wrapper:after {
  content: " ";
  display: table; }
.ha-cf:after, .ha-logo-grid-wrapper:after {
  clear: both; }

.ha-btn {
  text-decoration: none;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  transition: all .3s; }
  .ha-btn:not(.ha-btn--link) {
    background-color: #562dd4;
    color: #fff;
    border-radius: .25rem;
    padding: 15px 25px; }
    .ha-btn:not(.ha-btn--link):hover, .ha-btn:not(.ha-btn--link):focus {
      background-color: #e2498a; }
  .ha-btn.ha-btn--link {
    color: #562dd4; }
    .ha-btn.ha-btn--link:hover, .ha-btn.ha-btn--link:focus {
      color: #e2498a; }
  .ha-btn-icon {
    transition: all .3s; }
  .ha-btn-icon + .ha-btn-text, .ha-btn-text + .ha-btn-icon {
    margin-left: 5px; }

.ha-card-figure {
  position: relative;
  height: 250px; }
  .ha-card-figure > img {
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);
    vertical-align: bottom;
    height: 100%;
    width: 100%; }
.ha-card-body {
  padding: 1.5rem; }
.ha-card-title {
  margin-top: 0;
  margin-bottom: .75rem;
  color: #151515;
  font-size: 22px;
  font-weight: 700; }
.ha-card-text {
  margin-bottom: 2rem;
  color: #616161;
  font-size: 16px;
  line-height: 1.7; }
  .ha-card-text > p {
    margin-top: 0;
    margin-bottom: 0; }
.ha-card--top .ha-card-figure {
  display: inline-block; }
.ha-card--right > .elementor-widget-container, .ha-card--left > .elementor-widget-container {
  display: flex;
  flex-direction: row;
  align-items: center; }
.ha-card--right .ha-card-figure, .ha-card--left .ha-card-figure {
  flex: 0 0 50%;
  max-width: 50%; }
.ha-card--right .ha-card-body, .ha-card--left .ha-card-body {
  padding: 2.5rem;
  flex: 0 0 50%;
  max-width: 50%; }
.ha-card--left .ha-card-figure > img {
  border-radius: calc(.5rem - 1px) 0 0 calc(.5rem - 1px); }
.ha-card--right > .elementor-widget-container {
  flex-direction: row-reverse;
  text-align: right; }
.ha-card--right .ha-card-figure > img {
  border-radius: 0 calc(.5rem - 1px) calc(.5rem - 1px) 0; }

.ha-card .ha-badge {
  position: absolute; }

.ha-badge {
  background-color: #fff;
  padding: .475rem 1.1rem;
  border-radius: 50px;
  font-size: 12px; }
  .ha-badge--top-left {
    left: 1rem;
    top: 1rem; }
  .ha-badge--top-center {
    left: 50%;
    transform: translateX(-50%);
    top: 1rem; }
  .ha-badge--top-right {
    right: 1rem;
    top: 1rem; }
  .ha-badge--middle-left {
    top: 50%;
    transform: translateY(-50%);
    left: 1rem; }
  .ha-badge--middle-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .ha-badge--middle-right {
    top: 50%;
    transform: translateY(-50%);
    right: 1rem; }
  .ha-badge--bottom-left {
    left: 1rem;
    bottom: 1rem; }
  .ha-badge--bottom-center {
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem; }
  .ha-badge--bottom-right {
    right: 1rem;
    bottom: 1rem; }

.ha-infobox > .elementor-widget-container {
  padding: 1.5rem; }
.ha-infobox-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #151515;
  font-size: 24px; }
.ha-infobox-figure {
  display: inline-block;
  margin: 0 0 1.5rem !important; }
  .ha-infobox-figure--icon {
    font-size: 3rem;
    text-align: center; }
  .ha-infobox-figure > i {
    width: 1em;
    height: 1em;
    position: relative;
    display: block; }
    .ha-infobox-figure > i:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
  .ha-infobox-figure > img {
    width: 100%;
    height: 100%;
    vertical-align: bottom; }
.ha-infobox-text + .ha-btn--link {
  margin-top: 1rem; }
.ha-infobox-text > p {
  margin-top: 0;
  margin-bottom: 0; }

.ha-icon-box > .elementor-widget-container {
  position: relative;
  padding: 1.25rem; }
.ha-icon-box-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #151515;
  font-size: 24px;
  transition: color .3s; }
.ha-icon-box-icon {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
  color: #151515;
  transition: transform .3s, border .3s, background .3s, color .3s; }
  .ha-icon-box-icon > i {
    position: relative;
    display: block;
    width: 1em;
    height: 1em;
    transition: transform .3s; }
    .ha-icon-box-icon > i:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
.ha-icon-box-link {
  display: block;
  text-decoration: none;
  color: transparent; }
.ha-icon-box .ha-badge {
  position: absolute;
  background-color: #e2498a;
  color: #fff;
  z-index: 9999; }

.ha-member > .elementor-widget-container {
  padding: 1.25rem; }
.ha-member-figure {
  display: inline-block;
  margin: 0 0 1.5rem !important; }
  .ha-member-figure img {
    width: 100%;
    height: 100%;
    vertical-align: bottom; }
.ha-member-name {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #151515;
  font-size: 18px; }
.ha-member-position {
  color: #7f7f7f;
  font-size: 14px;
  margin-bottom: 1.5rem; }
.ha-member-bio {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1.5rem; }
.ha-member-links > a {
  color: #9895ad;
  transition: all .2s;
  text-align: center;
  display: inline-block;
  line-height: 1; }
  .ha-member-links > a:hover, .ha-member-links > a:focus {
    color: #222; }
  .ha-member-links > a > i {
    width: 1em;
    height: 1em; }
  .ha-member-links > a:not(:last-child) {
    margin-right: .3rem; }

.ha-review-header {
  margin-top: 1.5rem; }
.ha-review-figure {
  margin: 0; }
  .ha-review-figure > img {
    border-radius: 50%;
    vertical-align: bottom;
    height: 100%;
    width: 100%; }
.ha-review-reviewer {
  margin-top: 0;
  margin-bottom: .3rem;
  color: #151515;
  font-size: 18px; }
.ha-review-position {
  color: #7f7f7f;
  font-size: 15px;
  margin-bottom: .5rem; }
.ha-review-ratting {
  display: inline-block;
  font-size: 12px;
  line-height: 1; }
.ha-review-ratting--num {
  background-color: #287dfe;
  color: #fff;
  padding: .25em .66em;
  border-radius: 2.5em; }
.ha-review-ratting--star {
  display: inline-block;
  color: #ffbf36;
  font-family: "Fontawesome"; }
  .ha-review-ratting--star > span {
    overflow: hidden;
    position: relative;
    height: 1em; }
  .ha-review-ratting--star span > span {
    padding-top: 1.5em;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute; }
  span .ha-review-ratting--star:before,
  .ha-review-ratting--star span > span:before {
    top: 0;
    left: 0;
    position: absolute; }
  .ha-review-ratting--star span:before {
    content: "\f006\f006\f006\f006\f006"; }
  .ha-review-ratting--star span > span:before {
    content: "\f005\f005\f005\f005\f005"; }
.ha-review-desc {
  margin-top: 1.5rem;
  font-size: 16px;
  line-height: 1.6; }
  .ha-review-desc p {
    margin: 0; }
.ha-review--top > .elementor-widget-container {
  padding: 2rem; }
.ha-review--top .ha-review-figure {
  display: inline-block;
  max-width: 70px;
  height: 70px; }
.ha-review--left > .elementor-widget-container, .ha-review--right > .elementor-widget-container {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  align-items: center; }
.ha-review--left .ha-review-figure, .ha-review--right .ha-review-figure {
  flex: 0 0 150px;
  max-width: 150px;
  height: 150px; }
.ha-review--left .ha-review-body, .ha-review--right .ha-review-body {
  flex: 0 0 calc(100% - 150px);
  max-width: calc(100% - 150px);
  padding: 2rem; }
  .ha-review--left .ha-review-body > :first-child, .ha-review--right .ha-review-body > :first-child {
    margin-top: 0; }
.ha-review--right > .elementor-widget-container {
  flex-direction: row-reverse;
  padding-right: 2rem;
  padding-left: 0;
  text-align: right; }

.ha-image-compare .twentytwenty-container,
.ha-image-compare .twentytwenty-wrapper {
  border-radius: inherit; }

.ha-gallery-filter {
  list-style: none;
  margin: 0 10px 2rem;
  padding: 0; }
  .ha-gallery-filter > li {
    display: inline-block;
    margin-bottom: 10px; }
    .ha-gallery-filter > li:not(:last-child) {
      margin-right: 10px; }
    .ha-gallery-filter > li > button {
      display: block;
      color: #562dd4;
      border: 2px solid #562dd4;
      background-color: transparent;
      border-radius: .25rem;
      padding: 10px 25px;
      font-size: 14px;
      transition: all .3s;
      cursor: pointer;
      text-transform: uppercase; }
      .ha-gallery-filter > li > button:hover, .ha-gallery-filter > li > button:focus {
        color: #fff;
        background-color: #562dd4;
        outline: 0; }
  .ha-gallery-filter > .ha-filter-active > button {
    color: #fff;
    background-color: #562dd4; }

.ha-image-grid-item {
  float: left; }
.ha-image-grid-link {
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  margin: 10px; }
  .ha-image-grid-link:focus {
    outline: none; }
  .ha-image-grid-link img {
    vertical-align: bottom;
    transition: transform 0.25s linear; }
  .ha-image-grid-link:hover img {
    transform: scale(1.25); }
  .ha-image-grid-link:hover .ha-image-grid-overlay {
    opacity: 1; }
  .ha-image-grid-link:hover .ha-image-grid-content {
    opacity: 1; }
    .ha-image-grid-link:hover .ha-image-grid-content:before {
      width: 80px; }
.ha-image-grid-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  transition: opacity .5s; }
.ha-image-grid-content {
  position: absolute;
  transition: opacity .5s;
  color: #fff;
  font-size: 16px;
  width: 100%;
  opacity: 0; }
  .ha-image-grid-content:before {
    content: '';
    background: #fe413b;
    width: 35px;
    height: 1px;
    position: absolute;
    top: -15px;
    transition: all .3s; }
  .ha-image-grid-content--topleft {
    top: 2.9rem;
    left: 2rem;
    text-align: left; }
    .ha-image-grid-content--topleft:before {
      left: 0; }
  .ha-image-grid-content--topcenter {
    top: 2.9rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .ha-image-grid-content--topcenter:before {
      left: 50%;
      transform: translateX(-50%); }
  .ha-image-grid-content--topright {
    top: 2.9rem;
    right: 2rem;
    text-align: right; }
    .ha-image-grid-content--topright:before {
      right: 0; }
  .ha-image-grid-content--bottomleft {
    bottom: 2rem;
    left: 2rem;
    text-align: left; }
    .ha-image-grid-content--bottomleft:before {
      left: 0; }
  .ha-image-grid-content--bottomcenter {
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .ha-image-grid-content--bottomcenter:before {
      left: 50%;
      transform: translateX(-50%); }
  .ha-image-grid-content--bottomright {
    bottom: 2rem;
    right: 2rem;
    text-align: right; }
    .ha-image-grid-content--bottomright:before {
      right: 0; }
  .ha-image-grid-content--middleleft {
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    text-align: left; }
    .ha-image-grid-content--middleleft:before {
      left: 0; }
  .ha-image-grid-content--middlecenter {
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
    text-align: center; }
    .ha-image-grid-content--middlecenter:before {
      left: 50%;
      transform: translateX(-50%); }
  .ha-image-grid-content--middleright {
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    text-align: right; }
    .ha-image-grid-content--middleright:before {
      right: 0; }
.ha-image-grid--col-2 .ha-image-grid-item {
  width: 50%; }
.ha-image-grid--col-3 .ha-image-grid-item {
  width: 33.33%; }
.ha-image-grid--col-4 .ha-image-grid-item {
  width: 25%; }
.ha-image-grid--col-5 .ha-image-grid-item {
  width: 20%; }

.ha-justified-gallery-item {
  transition: all .3s;
  border-radius: 6px; }
  .ha-justified-gallery-item > img {
    width: 100%;
    transition: all 0.25s !important; }
  .ha-justified-gallery-item:hover > img {
    transform: scale(1.25); }

.justified-gallery > a > .caption,
.justified-gallery > div > .caption,
.justified-gallery > figure > .caption {
  padding: 10px; }

.justified-gallery > a > .caption,
.justified-gallery > div > .caption,
.justified-gallery > figure > .caption {
  bottom: -100px !important;
  transition: all 0.25s !important;
  animation: haSmoothReveal .3s forwards; }

.justified-gallery > a > .caption.caption-visible,
.justified-gallery > div > .caption.caption-visible,
.justified-gallery > figure > .caption.caption-visible {
  bottom: 0 !important; }

@keyframes haSmoothReveal {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px); }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.ha-slider .slick-prev,
.ha-slider .slick-next,
.ha-carousel .slick-prev,
.ha-carousel .slick-next {
  color: #8c8c8c;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  z-index: 999;
  opacity: 1;
  padding: 0; }
  .ha-slider .slick-prev:hover, .ha-slider .slick-prev:focus,
  .ha-slider .slick-next:hover,
  .ha-slider .slick-next:focus,
  .ha-carousel .slick-prev:hover,
  .ha-carousel .slick-prev:focus,
  .ha-carousel .slick-next:hover,
  .ha-carousel .slick-next:focus {
    background-color: white; }
  .ha-slider .slick-prev:before,
  .ha-slider .slick-next:before,
  .ha-carousel .slick-prev:before,
  .ha-carousel .slick-next:before {
    content: ''; }
.ha-slider .slick-disabled,
.ha-carousel .slick-disabled {
  opacity: .7; }
.ha-slider .slick-prev,
.ha-carousel .slick-prev {
  left: 25px; }
.ha-slider .slick-next,
.ha-carousel .slick-next {
  right: 25px; }
.ha-slider .slick-dots,
.ha-carousel .slick-dots {
  bottom: -40px; }
  .ha-slider .slick-dots li,
  .ha-carousel .slick-dots li {
    margin-left: 2px;
    margin-right: 2px; }
  .ha-slider .slick-dots li button:before,
  .ha-carousel .slick-dots li button:before {
    color: #1b1b1b;
    opacity: 1; }
  .ha-slider .slick-dots li button:hover:before,
  .ha-slider .slick-dots .slick-active button:before,
  .ha-carousel .slick-dots li button:hover:before,
  .ha-carousel .slick-dots .slick-active button:before {
    transform: scale(1.5); }

.ha-carousel .slick-prev,
.ha-carousel .slick-next {
  width: 40px;
  height: 40px;
  line-height: 40px; }

.ha-slider .slick-prev,
.ha-slider .slick-next {
  width: 50px;
  height: 50px;
  line-height: 50px; }

.ha-carousel .slick-slider:not(.slick-vertical) .slick-slide {
  padding-left: 5px;
  padding-right: 5px; }
.ha-carousel .slick-slider.slick-vertical .slick-slide {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0; }

.ha-slider-item {
  position: relative;
  vertical-align: bottom; }
.ha-slider-content {
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  width: 100%; }
.ha-slider-title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: .2rem;
  color: #fff; }
.ha-slider-subtitle {
  margin: 0;
  color: #fff; }

.ha-skills > .elementor-widget-container {
  padding-top: 1px; }

.ha-skill {
  display: flex;
  font-size: .75rem;
  background-color: #e9ecef; }
  .ha-skill--outside .ha-skill-info, .ha-skill--inside .ha-skill-info {
    font-size: 14px;
    text-align: left; }
  .ha-skill--outside .ha-skill-level-text, .ha-skill--inside .ha-skill-level-text {
    float: right; }
  .ha-skill--outside {
    height: 2px; }
    .ha-skill--outside .ha-skill-level {
      position: relative; }
    .ha-skill--outside .ha-skill-info {
      position: absolute;
      width: 100%;
      top: -25px;
      color: #242424; }
  .ha-skill--inside {
    height: 30px;
    overflow: hidden;
    border-radius: .3rem; }
    .ha-skill--inside .ha-skill-info {
      padding-right: 1rem;
      padding-left: 1rem;
      color: #fff; }
  .ha-skill-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease; }
  .ha-skill--outside {
    margin-top: 40px; }
  .ha-skill--inside:not(:first-child) {
    margin-top: 20px; }

.ha-gradient-heading {
  margin-top: 0;
  margin-bottom: 0; }
  .ha-gradient-heading > a {
    color: inherit;
    text-decoration: none; }

.ha-logo-grid-item {
  height: 180px;
  float: left;
  border-color: #e7e7e7;
  overflow: hidden; }
.ha-logo-grid-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 30px;
  width: 100%;
  height: 100%; }
.ha-logo-grid-img {
  max-height: 100%; }
.ha-logo-grid--col-2 .ha-logo-grid-item {
  width: calc(100% / 2); }
.ha-logo-grid--col-3 .ha-logo-grid-item {
  width: calc(100% / 3); }
.ha-logo-grid--col-4 .ha-logo-grid-item {
  width: calc(100% / 4); }
.ha-logo-grid--col-5 .ha-logo-grid-item {
  width: calc(100% / 5); }
.ha-logo-grid--col-6 .ha-logo-grid-item {
  width: calc(100% / 6); }
@media (max-width: 1024px) {
  .ha-logo-grid--col--tablet2 .ha-logo-grid-item {
    width: calc(100% / 2); }
  .ha-logo-grid--col--tablet3 .ha-logo-grid-item {
    width: calc(100% / 3); }
  .ha-logo-grid--col--tablet4 .ha-logo-grid-item {
    width: calc(100% / 4); }
  .ha-logo-grid--col--tablet5 .ha-logo-grid-item {
    width: calc(100% / 5); }
  .ha-logo-grid--col--tablet6 .ha-logo-grid-item {
    width: calc(100% / 6); } }
@media (max-width: 767px) {
  .ha-logo-grid--col--mobile2 .ha-logo-grid-item {
    width: calc(100% / 2); }
  .ha-logo-grid--col--mobile3 .ha-logo-grid-item {
    width: calc(100% / 3); }
  .ha-logo-grid--col--mobile4 .ha-logo-grid-item {
    width: calc(100% / 4); }
  .ha-logo-grid--col--mobile5 .ha-logo-grid-item {
    width: calc(100% / 5); }
  .ha-logo-grid--col--mobile6 .ha-logo-grid-item {
    width: calc(100% / 6); } }
.ha-logo-grid--tictactoe .ha-logo-grid-item {
  border-width: 2px 2px 0 0;
  border-style: solid; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-2 .ha-logo-grid-item:nth-child(2n) {
  border-right-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-2 .ha-logo-grid-item:nth-child(-n + 2) {
  border-top-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-3 .ha-logo-grid-item:nth-child(3n) {
  border-right-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-3 .ha-logo-grid-item:nth-child(-n + 3) {
  border-top-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-4 .ha-logo-grid-item:nth-child(4n) {
  border-right-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-4 .ha-logo-grid-item:nth-child(-n + 4) {
  border-top-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-5 .ha-logo-grid-item:nth-child(5n) {
  border-right-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-5 .ha-logo-grid-item:nth-child(-n + 5) {
  border-top-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-6 .ha-logo-grid-item:nth-child(6n) {
  border-right-width: 0; }
.ha-logo-grid--tictactoe.ha-logo-grid--col-6 .ha-logo-grid-item:nth-child(-n + 6) {
  border-top-width: 0; }
@media (max-width: 1024px) {
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet2 .ha-logo-grid-item:nth-child(2n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet2 .ha-logo-grid-item:nth-child(-n + 2) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet3 .ha-logo-grid-item:nth-child(3n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet3 .ha-logo-grid-item:nth-child(-n + 3) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet4 .ha-logo-grid-item:nth-child(4n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet4 .ha-logo-grid-item:nth-child(-n + 4) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet5 .ha-logo-grid-item:nth-child(5n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet5 .ha-logo-grid-item:nth-child(-n + 5) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet6 .ha-logo-grid-item:nth-child(6n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--tablet6 .ha-logo-grid-item:nth-child(-n + 6) {
    border-top-width: 0; } }
@media (max-width: 767px) {
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile2 .ha-logo-grid-item:nth-child(2n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile2 .ha-logo-grid-item:nth-child(-n + 2) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile3 .ha-logo-grid-item:nth-child(3n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile3 .ha-logo-grid-item:nth-child(-n + 3) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile4 .ha-logo-grid-item:nth-child(4n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile4 .ha-logo-grid-item:nth-child(-n + 4) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile5 .ha-logo-grid-item:nth-child(5n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile5 .ha-logo-grid-item:nth-child(-n + 5) {
    border-top-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile6 .ha-logo-grid-item:nth-child(6n) {
    border-right-width: 0; }
  .ha-logo-grid--tictactoe.ha-logo-grid--col--mobile6 .ha-logo-grid-item:nth-child(-n + 6) {
    border-top-width: 0; } }
.ha-logo-grid--border {
  border-radius: .5rem; }
.ha-logo-grid--border .ha-logo-grid-item {
  border-width: 0 2px 2px 0;
  border-style: solid; }
  .ha-logo-grid--border .ha-logo-grid-item:first-child {
    border-top-left-radius: 10px; }
  .ha-logo-grid--border .ha-logo-grid-item:last-child {
    border-bottom-right-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-2 .ha-logo-grid-item:nth-child(-n + 2) {
  border-top-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-2 .ha-logo-grid-item:nth-child(2n + 1) {
  border-left-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-2 .ha-logo-grid-item:nth-child(2) {
  border-top-right-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-2 .ha-logo-grid-item:nth-last-child(2) {
  border-bottom-left-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-3 .ha-logo-grid-item:nth-child(-n + 3) {
  border-top-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-3 .ha-logo-grid-item:nth-child(3n + 1) {
  border-left-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-3 .ha-logo-grid-item:nth-child(3) {
  border-top-right-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-3 .ha-logo-grid-item:nth-last-child(3) {
  border-bottom-left-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-4 .ha-logo-grid-item:nth-child(-n + 4) {
  border-top-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-4 .ha-logo-grid-item:nth-child(4n + 1) {
  border-left-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-4 .ha-logo-grid-item:nth-child(4) {
  border-top-right-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-4 .ha-logo-grid-item:nth-last-child(4) {
  border-bottom-left-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-5 .ha-logo-grid-item:nth-child(-n + 5) {
  border-top-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-5 .ha-logo-grid-item:nth-child(5n + 1) {
  border-left-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-5 .ha-logo-grid-item:nth-child(5) {
  border-top-right-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-5 .ha-logo-grid-item:nth-last-child(5) {
  border-bottom-left-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-6 .ha-logo-grid-item:nth-child(-n + 6) {
  border-top-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-6 .ha-logo-grid-item:nth-child(6n + 1) {
  border-left-width: 2px; }
.ha-logo-grid--border.ha-logo-grid--col-6 .ha-logo-grid-item:nth-child(6) {
  border-top-right-radius: 10px; }
.ha-logo-grid--border.ha-logo-grid--col-6 .ha-logo-grid-item:nth-last-child(6) {
  border-bottom-left-radius: 10px; }
@media (max-width: 1024px) {
  .ha-logo-grid--border.ha-logo-grid--col--tablet2 .ha-logo-grid-item:nth-child(-n + 2) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet2 .ha-logo-grid-item:nth-child(2n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet2 .ha-logo-grid-item:nth-child(2) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet2 .ha-logo-grid-item:nth-last-child(2) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet3 .ha-logo-grid-item:nth-child(-n + 3) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet3 .ha-logo-grid-item:nth-child(3n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet3 .ha-logo-grid-item:nth-child(3) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet3 .ha-logo-grid-item:nth-last-child(3) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet4 .ha-logo-grid-item:nth-child(-n + 4) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet4 .ha-logo-grid-item:nth-child(4n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet4 .ha-logo-grid-item:nth-child(4) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet4 .ha-logo-grid-item:nth-last-child(4) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet5 .ha-logo-grid-item:nth-child(-n + 5) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet5 .ha-logo-grid-item:nth-child(5n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet5 .ha-logo-grid-item:nth-child(5) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet5 .ha-logo-grid-item:nth-last-child(5) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet6 .ha-logo-grid-item:nth-child(-n + 6) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet6 .ha-logo-grid-item:nth-child(6n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet6 .ha-logo-grid-item:nth-child(6) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--tablet6 .ha-logo-grid-item:nth-last-child(6) {
    border-bottom-left-radius: 10px; } }
@media (max-width: 767px) {
  .ha-logo-grid--border.ha-logo-grid--col--mobile2 .ha-logo-grid-item:nth-child(-n + 2) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile2 .ha-logo-grid-item:nth-child(2n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile2 .ha-logo-grid-item:nth-child(2) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile2 .ha-logo-grid-item:nth-last-child(2) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile3 .ha-logo-grid-item:nth-child(-n + 3) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile3 .ha-logo-grid-item:nth-child(3n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile3 .ha-logo-grid-item:nth-child(3) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile3 .ha-logo-grid-item:nth-last-child(3) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile4 .ha-logo-grid-item:nth-child(-n + 4) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile4 .ha-logo-grid-item:nth-child(4n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile4 .ha-logo-grid-item:nth-child(4) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile4 .ha-logo-grid-item:nth-last-child(4) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile5 .ha-logo-grid-item:nth-child(-n + 5) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile5 .ha-logo-grid-item:nth-child(5n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile5 .ha-logo-grid-item:nth-child(5) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile5 .ha-logo-grid-item:nth-last-child(5) {
    border-bottom-left-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile6 .ha-logo-grid-item:nth-child(-n + 6) {
    border-top-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile6 .ha-logo-grid-item:nth-child(6n + 1) {
    border-left-width: 2px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile6 .ha-logo-grid-item:nth-child(6) {
    border-top-right-radius: 10px; }
  .ha-logo-grid--border.ha-logo-grid--col--mobile6 .ha-logo-grid-item:nth-last-child(6) {
    border-bottom-left-radius: 10px; } }
.ha-logo-grid--box .ha-logo-grid-wrapper {
  margin: -.5rem; }
.ha-logo-grid--box .ha-logo-grid-item {
  margin: .5rem;
  border-radius: .5rem;
  border-width: 2px;
  border-style: solid; }
.ha-logo-grid--box.ha-logo-grid--col-2 .ha-logo-grid-item {
  width: calc((100% / 2) - 1rem); }
.ha-logo-grid--box.ha-logo-grid--col-3 .ha-logo-grid-item {
  width: calc((100% / 3) - 1rem); }
.ha-logo-grid--box.ha-logo-grid--col-4 .ha-logo-grid-item {
  width: calc((100% / 4) - 1rem); }
.ha-logo-grid--box.ha-logo-grid--col-5 .ha-logo-grid-item {
  width: calc((100% / 5) - 1rem); }
.ha-logo-grid--box.ha-logo-grid--col-6 .ha-logo-grid-item {
  width: calc((100% / 6) - 1rem); }
@media (max-width: 1024px) {
  .ha-logo-grid--box.ha-logo-grid--col--tablet2 .ha-logo-grid-item {
    width: calc((100% / 2) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--tablet3 .ha-logo-grid-item {
    width: calc((100% / 3) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--tablet4 .ha-logo-grid-item {
    width: calc((100% / 4) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--tablet5 .ha-logo-grid-item {
    width: calc((100% / 5) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--tablet6 .ha-logo-grid-item {
    width: calc((100% / 6) - 1rem); } }
@media (max-width: 767px) {
  .ha-logo-grid--box.ha-logo-grid--col--mobile2 .ha-logo-grid-item {
    width: calc((100% / 2) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--mobile3 .ha-logo-grid-item {
    width: calc((100% / 3) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--mobile4 .ha-logo-grid-item {
    width: calc((100% / 4) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--mobile5 .ha-logo-grid-item {
    width: calc((100% / 5) - 1rem); }
  .ha-logo-grid--box.ha-logo-grid--col--mobile6 .ha-logo-grid-item {
    width: calc((100% / 6) - 1rem); } }

.ha-dual-button > .elementor-widget-container {
  display: flex; }

.ha-dual-btn, .ha-dual-btn-connector {
  display: inline-block; }
.ha-dual-btn-wrapper {
  position: relative;
  text-align: center;
  font-weight: 400; }
.ha-dual-btn {
  padding: 1.2rem 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 14px; }
.ha-dual-btn--left {
  background-color: #562dd4;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; }
  .ha-dual-btn--left:hover, .ha-dual-btn--left:focus {
    background-color: #4423ab; }
.ha-dual-btn--right {
  background-color: #e2498a;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }
  .ha-dual-btn--right:hover, .ha-dual-btn--right:focus {
    background-color: #d6226e; }
.ha-dual-btn-connector {
  position: absolute !important;
  top: 50%;
  right: 0;
  z-index: 9;
  width: 30px;
  height: 30px;
  line-height: 30px;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  background-color: #fff;
  color: #27374c;
  font-size: 12px;
  transform: translate(50%, -50%);
  text-transform: uppercase; }
.ha-dual-btn-icon--before {
  margin-right: 5px; }
.ha-dual-btn-icon--after {
  margin-left: 5px; }

.ha-testimonial--basic > .elementor-widget-container {
  padding: 2rem;
  border: 1px solid #ececec;
  border-radius: .5rem; }
.ha-testimonial--basic .ha-testimonial__content {
  margin-bottom: 2.5em; }
.ha-testimonial--bubble .ha-testimonial__content {
  padding: 2rem;
  box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, 0.1);
  border-radius: 6px;
  margin-bottom: 1.5rem;
  line-height: 1.6rem;
  position: relative;
  background-color: #fff; }
  .ha-testimonial--bubble .ha-testimonial__content:after {
    position: absolute;
    bottom: -14px;
    content: "\e911";
    font-size: 36px;
    font-style: normal;
    font-family: "Happy Icons";
    transform: rotate(-180deg);
    color: #fff; }
.ha-testimonial--left.ha-testimonial--bubble .ha-testimonial__content:after {
  left: 15px; }
.ha-testimonial--center.ha-testimonial--bubble .ha-testimonial__content:after {
  left: 50%;
  transform: translateX(-50%) rotate(-180deg); }
.ha-testimonial--right.ha-testimonial--bubble .ha-testimonial__content:after {
  right: 15px; }
.ha-testimonial__reviewer {
  display: flex;
  flex: 1;
  align-items: center; }
  .ha-testimonial__reviewer-thumb {
    width: 65px;
    height: 65px; }
    .ha-testimonial__reviewer-thumb > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover; }
  .ha-testimonial__reviewer-name {
    font-size: 18px;
    font-weight: bold;
    color: #562dd4;
    margin-bottom: .3rem; }
  .ha-testimonial__reviewer-title {
    font-size: 16px;
    color: #8c8c8c; }
.ha-testimonial--left .ha-testimonial__reviewer-meta {
  padding-left: 1em; }
.ha-testimonial--center .ha-testimonial__reviewer {
  flex-direction: column; }
  .ha-testimonial--center .ha-testimonial__reviewer-meta {
    padding-top: 1em; }
.ha-testimonial--right .ha-testimonial__reviewer {
  flex-direction: row-reverse; }
  .ha-testimonial--right .ha-testimonial__reviewer-meta {
    padding-right: 1em; }
.ha-testimonial--left {
  text-align: left; }
.ha-testimonial--right {
  text-align: right; }
.ha-testimonial--center {
  text-align: center; }

.ha-heading-detail .ha-heading {
  margin: 0; }
.ha-heading-detail .ha-detail {
  display: block;
  margin-bottom: 0; }
.ha-heading-detail .description {
  display: flex;
  flex-direction: column; }
.ha-heading-detail .description span {
  display: block; }
  .ha-heading-detail .description span:after {
    content: "";
    display: block; }

.ha-number-body .ha-number-border {
  overflow: hidden;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 100%;
  background: #c36;
  font-size: 20px;
  text-align: center;
  padding: 6px 6px 6px 6px;
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .ha-number-body .ha-number-border .ha-number-border-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .ha-number-body .ha-number-border span {
    /* Safari 6.1+ */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.ha-image-box-body {
  overflow: hidden;
  display: block; }
  .ha-image-box-body .ha-image-box-background {
    background: #c36;
    transition-property: transform,filter,opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1); }
    .ha-image-box-body .ha-image-box-background .ha-image-box-inner {
      background: rgba(0, 0, 0, 0.2);
      transition: background 0.2s ease-in-out; }
      .ha-image-box-body .ha-image-box-background .ha-image-box-inner .ha-image-box-content {
        color: #fff;
        transform: translate(0, 0);
        transition: opacity 0.2s ease-in-out,transform 0.2s ease-in-out; }
        .ha-image-box-body .ha-image-box-background .ha-image-box-inner .ha-image-box-content .ha-image-sub-title {
          display: inline-block; }
  .ha-image-box-body:hover .ha-image-box-background {
    transform: scale(1.05, 1.05); }
  .ha-image-box-body:hover .ha-image-box-inner {
    background: transparent !important; }
  .ha-image-box-body:hover .ha-image-box-content {
    transform: translate(0, 36px) !important;
    opacity: 0 !important;
    transition-delay: 0ms !important; }

.ha-image-box-body.ha-image-box-body-animation-off:hover .ha-image-box-background {
  transform: scale(1, 1); }
.ha-image-box-body.ha-image-box-body-animation-off:hover .ha-image-box-inner {
  background: transparent !important; }
.ha-image-box-body.ha-image-box-body-animation-off:hover .ha-image-box-content {
  transform: translate(0, 0px) !important;
  opacity: 1 !important;
  transition-delay: 0ms !important; }

.ha-image-box-body-reverse {
  overflow: hidden;
  display: block; }
  .ha-image-box-body-reverse .ha-image-box-background {
    transform: scale(1.05, 1.05);
    background: #c36;
    transition-property: transform,filter,opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1); }
    .ha-image-box-body-reverse .ha-image-box-background .ha-image-box-inner {
      background: transparent;
      transition: background 0.2s ease-in-out; }
      .ha-image-box-body-reverse .ha-image-box-background .ha-image-box-inner .ha-image-box-content {
        color: #fff;
        transform: translate(0, 36px);
        transition: opacity 0.2s ease-in-out,transform 0.2s ease-in-out;
        opacity: 0; }
        .ha-image-box-body-reverse .ha-image-box-background .ha-image-box-inner .ha-image-box-content .ha-image-sub-title {
          display: inline-block; }
  .ha-image-box-body-reverse:hover .ha-image-box-background {
    transform: scale(1, 1); }
    .ha-image-box-body-reverse:hover .ha-image-box-background .ha-image-box-inner {
      background: rgba(0, 0, 0, 0.2); }
      .ha-image-box-body-reverse:hover .ha-image-box-background .ha-image-box-inner .ha-image-box-content {
        transform: translate(0, 0px);
        opacity: 1;
        transition-delay: 0ms; }

.ha-image-box-body-reverse.ha-image-box-body-animation-off .ha-image-box-background {
  transform: scale(1, 1); }
  .ha-image-box-body-reverse.ha-image-box-body-animation-off .ha-image-box-background .ha-image-box-inner .ha-image-box-content {
    transform: translate(0, 0px);
    transition: none; }
.ha-image-box-body-reverse.ha-image-box-body-animation-off:hover .ha-image-box-background .ha-image-box-inner .ha-image-box-content {
  transform: translate(0, 0px);
  opacity: 1;
  transition-delay: 0ms; }

.ha-flip-wrap:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0; }
.ha-flip-wrap .ha-flip-box {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .ha-flip-wrap .ha-flip-box:hover .ha-flip-box-back {
    z-index: 1; }
  .ha-flip-wrap .ha-flip-box:hover .ha-flip-box-front {
    z-index: -1; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-inner-wrapper {
    position: relative;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000px;
    perspective: 1000px; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-back,
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    padding: 1.5rem 1.3rem;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover; }
    .ha-flip-wrap .ha-flip-box .ha-flip-box-back:before,
    .ha-flip-wrap .ha-flip-box .ha-flip-box-front:before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: transparent;
      position: absolute;
      z-index: -9;
      top: 0;
      left: 0; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front {
    position: relative;
    bottom: 0;
    z-index: 10;
    border: 1px solid #ddd;
    border-radius: .3rem; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-back {
    position: absolute;
    z-index: -1;
    color: #fff;
    border-radius: .3rem; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-back-inner,
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .ha-flip-wrap .ha-flip-box .ha-flip-box-back-inner .icon-wrap,
    .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .icon-wrap {
      display: flex; }
    .ha-flip-wrap .ha-flip-box .ha-flip-box-back-inner .ha-text p,
    .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-text p {
      margin-bottom: 0; }
    .ha-flip-wrap .ha-flip-box .ha-flip-box-back-inner .ha-flip-btn,
    .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-flip-btn {
      background: #3266fd;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
      padding: .8rem 2.5rem;
      text-decoration: none;
      border-radius: .3rem;
      margin-top: .5rem;
      display: inline-block;
      transition: all .3s; }
      .ha-flip-wrap .ha-flip-box .ha-flip-box-back-inner .ha-flip-btn:hover,
      .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-flip-btn:hover {
        background: #fff;
        color: #27374c; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-flip-image img {
    width: 100%;
    height: 100%; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-flip-icon {
    margin: 0 0 10px; }
    .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-flip-icon i {
      font-size: 28px;
      background: #27374c;
      color: #fff;
      border-radius: 50%;
      padding: 20px; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner .ha-flip-box-heading {
    font-size: 20px;
    font-weight: bold;
    margin: 0; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-front-inner p {
    font-size: 16px;
    margin-bottom: 0; }
  .ha-flip-wrap .ha-flip-box .ha-flip-box-back-inner .ha-flip-box-heading-back {
    font-size: 18px;
    margin: 0; }
.ha-flip-wrap .ha-flip-box.ha-flip-right .ha-flip-box-front {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-right .ha-flip-box-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-right:hover .ha-flip-box-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-right:hover .ha-flip-box-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-left .ha-flip-box-front {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-left .ha-flip-box-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-left:hover .ha-flip-box-back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-left:hover .ha-flip-box-front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-up .ha-flip-box-front {
  -webkit-transform: rotateX(0);
  transform: rotateX(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-up .ha-flip-box-back {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-up:hover .ha-flip-box-back {
  -webkit-transform: rotateX(0);
  transform: rotateX(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-up:hover .ha-flip-box-front {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-down .ha-flip-box-front {
  -webkit-transform: rotateX(0);
  transform: rotateX(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-down .ha-flip-box-back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg); }
.ha-flip-wrap .ha-flip-box.ha-flip-down:hover .ha-flip-box-back {
  -webkit-transform: rotateX(0);
  transform: rotateX(0); }
.ha-flip-wrap .ha-flip-box.ha-flip-down:hover .ha-flip-box-front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }

.ha-flip-wrap.ha-flip-effect-classic .ha-flip-box-back,
.ha-flip-wrap.ha-flip-effect-classic .ha-flip-box-front {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275);
  transition: -webkit-transform 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275);
  -o-transition: transform 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275);
  transition: transform 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275);
  transition: transform 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275), -webkit-transform 0.4s cubic-bezier(0.2, 0.85, 0.4, 1.275); }

.ha-flip-wrap.ha-flip-effect-3d .ha-flip-box-inner-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
.ha-flip-wrap.ha-flip-effect-3d .ha-flip-box-back,
.ha-flip-wrap.ha-flip-effect-3d .ha-flip-box-front {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .75s ease-in-out;
  transition: -webkit-transform .75s ease-in-out;
  -o-transition: transform .75s ease-in-out;
  transition: transform .75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out; }
.ha-flip-wrap.ha-flip-effect-3d .ha-flip-box-back-inner,
.ha-flip-wrap.ha-flip-effect-3d .ha-flip-box-front-inner {
  -webkit-transform: translateZ(50px) scale(0.9);
  transform: translateZ(50px) scale(0.9); }

.ha-list {
  display: flex;
  flex-direction: column;
  padding-left: 0; }
  .ha-list .ha-list-item {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; }
    .ha-list .ha-list-item .ha-text h2 {
      margin: 0; }
