.ha-btn {
  text-decoration: none;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  transition: all .3s;
  font-weight: bold;

  &:not(&--link) {
    background-color: #8c8c8c;
    color: #fff;
    border-radius: .25rem;
    padding: .7rem 1.3rem;
    text-align: center;

    &:hover,
    &:focus {
      background-color: #242424;
    }
  }

  &.ha-btn--link {
    color: #3ca6ff;
  }

  &-icon {
    transition: all .3s;
  }

  &-icon + &-text,
  &-text + &-icon {
    margin-left: 5px;
  }
}
