.happy-addon {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.ha-clearfix {
	&:after {
		display: table;
		clear: both;
	}
}
