.ha-flip-wrap {
  &:after {
    clear: both;
    content: " ";
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
  .ha-flip-box {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &:hover{
      .ha-flip-box-back {
        z-index: 1
      }
      .ha-flip-box-front {
        z-index: -1
      }
    }
    .ha-flip-box-inner-wrapper {
      position: relative;
      -webkit-transform: translateZ(0);
      -webkit-perspective: 1000px;
      perspective: 1000px
    }
    .ha-flip-box-back,
    .ha-flip-box-front {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      top: 0;
      right: 0;
      left: 0;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      text-align: center;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      height: 250px;
      background-color: transparent;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: transparent;
        position: absolute;
        z-index: -9;
        top: 0;
        left: 0;
      }
    }
    .ha-flip-box-front {
      position: relative;
      bottom: 0;
      z-index: 10;
      border: 1px solid #ddd;
      border-radius: .3rem;
      padding: 30px;
    }
    .ha-flip-box-back {
      background-color: $primary-color;
      position: absolute;
      z-index: -1;
      color: #fff;
      border-radius: .3rem;
      padding: 46px;
    }
    .ha-flip-box-back-inner,
    .ha-flip-box-front-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      .ha-text {
        text-align: center;
      }
      .ha-text p {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
    .ha-flip-box-front-inner {
      .ha-flip-icon.icon {
         color: $primary-color;
       }
      .ha-flip-icon {
        margin: 0 0 15px;
        text-align: center;
        display: inline-block;
        i {
          display: block;
          width: 1em;
          height: 1em;
          font-size: 28px;
        }
        img {
          vertical-align: middle;
          width: 60px;
          height: 60px;
        }
      }
      .ha-flip-box-heading {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    .ha-flip-box-back-inner{
      .ha-flip-box-heading-back {
        font-size: 18px;
        margin: 0;
        color: #fff;
      }
      .ha-flip-icon {
        margin: 0 0 10px;
        text-align: center;
        display: inline-block;
        i {
          display: block;
          width: 1em;
          height: 1em;
          font-size: 20px;
          color: #fff;
        }
        img {
          vertical-align: middle;
          width: 60px;
          height: 60px;
        }
      }

    }
  }

  .ha-flip-box-back-inner {
    .button-wrap {
      margin-top: 12px;
    }
    .ha-flip-btn {
      background-color: #fff;
      color: $primary-color;
      font-size: 12px;
      text-transform: uppercase;
      padding: .8rem 2.5rem;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
      transition: all .3s;

      &:hover {
        color: $primary-color;
        background-color: #fff;
      }
    }
  }

  //flip right
  .ha-flip-box.ha-flip-right .ha-flip-box-front {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  .ha-flip-box.ha-flip-right .ha-flip-box-back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
  }
  .ha-flip-box.ha-flip-right:hover .ha-flip-box-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }
  .ha-flip-box.ha-flip-right:hover .ha-flip-box-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }

  //flip left
  .ha-flip-box.ha-flip-left .ha-flip-box-front {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }

  .ha-flip-box.ha-flip-left .ha-flip-box-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
  }

  .ha-flip-box.ha-flip-left:hover .ha-flip-box-back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
  }

  .ha-flip-box.ha-flip-left:hover .ha-flip-box-front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
  }

  //flip up
  .ha-flip-box.ha-flip-up .ha-flip-box-front {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }

  .ha-flip-box.ha-flip-up .ha-flip-box-back {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
  }

  .ha-flip-box.ha-flip-up:hover .ha-flip-box-back {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }

  .ha-flip-box.ha-flip-up:hover .ha-flip-box-front {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }

  //flip down
  .ha-flip-box.ha-flip-down .ha-flip-box-front {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }

  .ha-flip-box.ha-flip-down .ha-flip-box-back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }

  .ha-flip-box.ha-flip-down:hover .ha-flip-box-back {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }

  .ha-flip-box.ha-flip-down:hover .ha-flip-box-front {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
  }

}

// classic effect
.ha-flip-wrap.ha-flip-effect-classic {
  .ha-flip-box-back,
  .ha-flip-box-front {
    -webkit-transition: -webkit-transform .6s cubic-bezier(.2,.85,.4,1.275);
    transition: -webkit-transform .6s cubic-bezier(.2,.85,.4,1.275);
    -o-transition: transform .6s cubic-bezier(.2,.85,.4,1.275);
    transition: transform .6s cubic-bezier(.2,.85,.4,1.275);
    transition: transform .6s cubic-bezier(.2,.85,.4,1.275),-webkit-transform .6s cubic-bezier(.2,.85,.4,1.275)
  }

}

// 3d effect

.ha-flip-wrap.ha-flip-effect-3d {
  .ha-flip-box-inner-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
  }
  .ha-flip-box-back,
  .ha-flip-box-front {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .75s ease-in-out;
    transition: -webkit-transform .75s ease-in-out;
    -o-transition: transform .75s ease-in-out;
    transition: transform .75s ease-in-out;
    transition: transform .75s ease-in-out,-webkit-transform .75s ease-in-out
  }
  .ha-flip-box-back-inner,
  .ha-flip-box-front-inner {
    -webkit-transform: translateZ(50px) scale(.9);
    transform: translateZ(50px) scale(.9)
  }

}


