.ha-heading-detail {
  .ha-heading {
    margin: 0;
  }
  .ha-detail {
    display: block;
    margin-bottom: 0;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .description span {
    display: block;
    &:after {
      content: "";
      display: block;
    }
  }
}