.ha-icon-box {
  @extend %happyWidgetContainer;

  @include widgetContainer {
    padding: 1.25rem;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #151515;
    font-size: 24px;
  }

  &-icon {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    color: #151515;

    > i {
      width: 1em;
      height: 1em;
      display: block;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    color: transparent;
  }
}
