.ha-icon-box {
  @include widgetContainer {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #151515;
    font-size: 24px;
  }

  &-icon {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: .86;
    i {
      color: inherit;
      line-height: .86;
      font-size: calc(1em - .1em);
      vertical-align: top;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    color: #151515;
  }
}

.ha-square-box {
  display: inherit;
  width: .86em;
  height: .86em;
}
