.ha-justified-gallery-item {
  border-radius: 6px;
}

//modified justified gallery css
.justified-gallery > a > .caption,
.justified-gallery > div > .caption,
.justified-gallery > figure > .caption{
  padding: 10px;
}

.justified-gallery > a > .caption,
.justified-gallery > div > .caption,
.justified-gallery > figure > .caption {
  bottom: -100px !important;
  transition: all 0.25s !important;
  animation: haSmoothReveal .3s forwards;
}

.justified-gallery > a > .caption.caption-visible,
.justified-gallery > div > .caption.caption-visible,
.justified-gallery > figure > .caption.caption-visible {
  bottom: 0 !important;
}

@keyframes haSmoothReveal {
  from {
    transform: translateY(100px)
  }

  to {
    transform: translateY(0)
  }
}
