.ha-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #3ca6ff;
  margin-right: 15px;

  &:after {
    font-family: "FontAwesome";
    font-size: 15px;
    position: absolute;
    top: 2px;
    right: -15px;
    content: "\f105";
    transition: all .3s;
  }

  &:hover {
    &:after {
      right: -25px;
    }
  }
}
