.ha-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;

  .ha-list-item {
    display: flex;
    list-style: none;

    .ha-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      width: auto;
      padding: 10px;
    }

    .ha-content:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25%;
    }

    .ha-text {
      padding: 0 0 0 3px;
    }
    .ha-text h4 {
      font-size: 18px;
      color: #464646;
      margin: 0;
    }
    .ha-text h4 a {
      color: #562dd4;
    }
    .ha-text h4 a:hover {
      color: #e2498a;
    }
    .ha-icon {
      display: inline-block;
      text-align: center;
      padding: 0;
      i, span {
        font-size: 18px;
        color: #e2498a;
        line-height: 1;
        width: 1em;
        height: 1em;
        display: block;
        position: relative;
      }
    }
    .ha-icon.image img {
      display: block;
    }

  }

}

.ha-content--column .ha-list-item {
  width: 100%;
  flex-direction: column;
}

.ha-content--row .ha-list-item {
  width: auto;
  max-width: 100%;
}

.ha-icon--column .ha-list-item .ha-content {
  align-items: flex-start;
}
