.ha-logo {
  &-item {
    float: left;
    text-align: center;
    position: relative;
    &-thumb{
      //box-shadow: 0 1px 8px rgba(0, 0, 0, .09);
      border: 1px solid #e7e7e7;
      border-radius: .5rem;
      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

//grid number
.ha-logo-grid-3 {
  .ha-logo-item {
    width: 33.33%;
  }
}

.ha-logo-grid-3 {
  .ha-logo-item {
    margin: .5rem;
    width: calc(33.33% - 1rem);
  }
}

.ha-logo-item-thumb {
  //border: 1px solid #ddd;
  padding: 2rem;
}
