.ha-logo-grid {
  &-wrapper {
    @extend .ha-cf;
  }

  &-item {
    height: 180px;
    float: left;
    overflow: hidden;
    padding: 30px;
    border-color: #e7e7e7;
  }

  &-img {
    object-fit: cover;
    width: 100%;
  }

  @for $i from 2 through 6 {
    &--col-#{$i} > &-item {
      width: calc(100% / #{$i});
    }
  }

  // TicTacToe style
  &--tictactoe &-item {
    border-width: 3px 3px 0 0;
    border-style: solid;
  }

  @for $i from 2 through 6 {
    &--tictactoe #{&}--col-#{$i} > &-item {
      &:nth-child(#{$i}n) {
        border-right-width: 0 !important;
      }

      &:nth-child(-n + #{$i}) {
        border-top-width: 0 !important;
      }
    }
  }

  // Border style
  &--border {
    border-radius: 10px
  }

  &--border &-item {
    border-width: 0 3px 3px 0;
    border-style: solid;

    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
    }
  }

  @for $i from 2 through 6 {
    &--border #{&}--col-#{$i} > &-item {
      &:nth-child(-n + #{$i}) {
        border-top-width: 3px;
      }

      &:nth-child(#{$i}n + 1) {
        border-left-width: 3px;
      }

      &:nth-child(#{$i}) {
        border-top-right-radius: 10px;
      }

      &:nth-last-child(#{$i}) {
        border-bottom-left-radius: 10px;
      }
    }
  }

  &--box &-item {

  }
}
