.ha-logo-grid {
  &-wrapper {
    @extend .ha-cf;
  }

  &-item {
    height: 180px;
    float: left;
    border-color: #e7e7e7;
    overflow: hidden;
  }

  &-figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
  }

  &-img {
    max-height: 100%;
  }

  @for $i from 2 through 6 {
    &--col-#{$i} &-item {
      width: calc(100% / #{$i});
    }
  }

  @media (max-width: 1024px) {
    @for $i from 2 through 6 {
      &--col--tablet#{$i} &-item {
        width: calc(100% / #{$i});
      }
    }
  }

  @media (max-width: 767px) {
    @for $i from 2 through 6 {
      &--col--mobile#{$i} &-item {
        width: calc(100% / #{$i});
      }
    }
  }

  // TicTacToe style
  &--tictactoe &-item {
    border-width: 2px 2px 0 0;
    border-style: solid;
  }

  @for $i from 2 through 6 {
    &--tictactoe#{&}--col-#{$i} &-item {
      &:nth-child(#{$i}n) {
        border-right-width: 0;
      }

      &:nth-child(-n + #{$i}) {
        border-top-width: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    @for $i from 2 through 6 {
      &--tictactoe#{&}--col--tablet#{$i} &-item {
        &:nth-child(#{$i}n) {
          border-right-width: 0;
        }

        &:nth-child(-n + #{$i}) {
          border-top-width: 0;
        }
      }
    }
  }

  @media (max-width: 767px) {
    @for $i from 2 through 6 {
      &--tictactoe#{&}--col--mobile#{$i} &-item {
        &:nth-child(#{$i}n) {
          border-right-width: 0;
        }

        &:nth-child(-n + #{$i}) {
          border-top-width: 0;
        }
      }
    }
  }

  // Border style
  &--border {
    border-radius: .5rem;
  }

  &--border &-item {
    border-width: 0 2px 2px 0;
    border-style: solid;

    &:first-child {
      border-top-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
    }
  }

  @for $i from 2 through 6 {
    &--border#{&}--col-#{$i} &-item {
      &:nth-child(-n + #{$i}) {
        border-top-width: 2px;
      }

      &:nth-child(#{$i}n + 1) {
        border-left-width: 2px;
      }

      &:nth-child(#{$i}) {
        border-top-right-radius: 10px;
      }

      &:nth-last-child(#{$i}) {
        border-bottom-left-radius: 10px;
      }
    }
  }

  @media (max-width: 1024px) {
    @for $i from 2 through 6 {
      &--border#{&}--col--tablet#{$i} &-item {
        &:nth-child(-n + #{$i}) {
          border-top-width: 2px;
        }

        &:nth-child(#{$i}n + 1) {
          border-left-width: 2px;
        }

        &:nth-child(#{$i}) {
          border-top-right-radius: 10px;
        }

        &:nth-last-child(#{$i}) {
          border-bottom-left-radius: 10px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    @for $i from 2 through 6 {
      &--border#{&}--col--mobile#{$i} &-item {
        &:nth-child(-n + #{$i}) {
          border-top-width: 2px;
        }

        &:nth-child(#{$i}n + 1) {
          border-left-width: 2px;
        }

        &:nth-child(#{$i}) {
          border-top-right-radius: 10px;
        }

        &:nth-last-child(#{$i}) {
          border-bottom-left-radius: 10px;
        }
      }
    }
  }

  &--box &-wrapper {
    margin: -.5rem;
  }

  &--box &-item {
    margin: .5rem;
    border-radius: .5rem;
    border-width: 2px;
    border-style: solid;
  }

  @for $i from 2 through 6 {
    &--box#{&}--col-#{$i} &-item {
      width: calc((100% / #{$i}) - 1rem);
    }
  }

  @media (max-width: 1024px) {
    @for $i from 2 through 6 {
      &--box#{&}--col--tablet#{$i} &-item {
        width: calc((100% / #{$i}) - 1rem);
      }
    }
  }
  @media (max-width: 767px) {
    @for $i from 2 through 6 {
      &--box#{&}--col--mobile#{$i} &-item {
        width: calc((100% / #{$i}) - 1rem);
      }
    }
  }
}
