@mixin widgetContainer {
	> .elementor-widget-container {
		@content;
	}
}

@mixin widgetContainerBaseStyle {
	background-color: #fff;
	box-shadow: 0 3px 40px rgba(36, 36, 36, .1);
	border-radius: 5px;
}

@mixin widgetContainerBase {
	@include widgetContainer {
		@include widgetContainerBaseStyle;
	}
}

%clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
