@mixin widgetContainer {
  > .elementor-widget-container {
    @content;
  }
}

%happyWidgetContainer {
  @include widgetContainer {
    background-color: #fff;
    box-shadow: 0 0.2rem 2.8rem rgba(36, 36, 36, .1);
    border-radius: .5rem;
  }
}

%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
