.ha-review {
  &-header {
    margin-top: 1.5rem;
  }

  &-figure {
    margin: 0;

    > img {
      border-radius: 50%;
      vertical-align: bottom;
      height: 100%;
      width: 100%;
    }
  }

  &-reviewer {
    margin-top: 0;
    margin-bottom: .3rem;
    color: #151515;
    font-size: 18px;
  }

  &-role {
    color: #7f7f7f;
    font-size: 15px;
    margin-bottom: .5rem;
  }

  &-ratting--num {
    font-size: 12px;
    background-color: #287dfe;
    color: #fff;
    padding: 3px 8px;
    display: inline-block;
    border-radius: 30px;
  }

  &-ratting--star {
      display: inline-block;
      color: #ffbf36;
      font-family: "Fontawesome";
      line-height: 1;
      font-size: 12px;

      > span {
        overflow: hidden;
        position: relative;
        height: 1em;
      }

      span > span {
        padding-top: 1.5em;
        overflow: hidden;
        top: 0;
        left: 0;
        position: absolute;
      }

      span &:before,
      span > span:before {
        top: 0;
        left: 0;
        position: absolute;
      }

      span:before {
        content: "\f006\f006\f006\f006\f006";
      }

      span > span:before {
        content: "\f005\f005\f005\f005\f005";
      }
  }

  &-desc {
    margin-top: 1.5rem;
    font-size: 16px;
    line-height: 1.6;

    p {
      margin: 0;
    }
  }

  &--top {
    @include widgetContainer {
      padding: 2rem;
    }

    .ha-review-figure {
      display: inline-block;
      max-width: 70px;
      height: 70px;
    }
  }

  &--left,
  &--right {
    @include widgetContainer {
      display: flex;
      flex-direction: row;
      padding-left: 2rem;
      align-items: center;
    }

    .ha-review {
      &-figure {
        flex: 0 0 150px;
        max-width: 150px;
        height: 150px;
      }

      &-body {
        padding: 2rem;

        > :first-child {
          margin-top: 0;
        }
      }
    }
  }

  &--right {
    @include widgetContainer {
      flex-direction: row-reverse;
      padding-right: 2rem;
      padding-left: 0;
    }
  }
}
