.ha-step-flow {
  .elementor-widget-container {
    text-align: center;
    padding: 30px;
  }
}

.ha-step-arrow {
  width: 100px;
  border: .5px dotted #ddd;
  display: inline-block;
  position: absolute;
  top: 33%;
  right: 0;
}

.ha-steps-icon {
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 50%;
  color: #242424;
  background: #f1f4f8;
  text-align: center;
  position: relative;
  padding: 40px;
  font-size: 46px;

  i {
    width: 1em;
    height: 1em;
    display: block;
    position: relative;

    &:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .ha-steps-label {
    position: absolute;
    top: 5px;
    right: 0;
    background: #e2498a;
    color: #fff;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 12px;
    border: 3px solid #fff;
  }
}

.ha-steps-title h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.ha-steps-title h4 a {
  color: #562dd4;
}
.ha-steps-title h4 a:hover {
  color: #242424;
}

p.ha-step-detail {
  color: #616161;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}
