.ha-step-flow {
  @include widgetContainer {
    text-align: center;
    padding: 30px;
  }
}

.ha-step-arrow {
  position: absolute;
  top: 49%;
  left: calc(100% + 50px);
  display: inline-block;
  width: 100px;
  border-top: 1px dashed #ddd;

  &:after {
    font-family: 'Happy Icons' !important;
    position: absolute;
    top: -10px;
    right: -6px;
    color: #ddd;
    content: "\e90b";
    font-size: 18px;
  }
}

.ha-steps-icon {
  display: inline-block;
  margin-bottom: 2rem;
  border-radius: 50%;
  color: #242424;
  background-color: #f1f4f8;
  text-align: center;
  position: relative;
  padding: 40px;
  font-size: 46px;

  i {
    width: 1em;
    height: 1em;
    display: block;
    position: relative;

    &:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .ha-steps-label {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: $secondary-color;
    color: #fff;
    padding: 10px 12px;
    border-radius: 20px;
    font-size: 12px;
    line-height: 0;
    border: 3px solid #fff;
  }
}

.ha-steps-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}

.ha-steps-title a {
  color: $primary-color;
  display: block;
}

.ha-steps-title a:hover {
  color: #242424;
}

.ha-step-description {
  color: #616161;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}
