.ha-step-flow {
  text-align: center;
}
.ha-step-arrow {
  width: 85px;
  border: 1px dashed #ddd;
  display: inline-block;
  position: absolute;
  top: 33%;
  right: 0;
}

.ha-steps-icon {
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 50%;
  color: #7a7a7a;
  background: #eeeeee;
  text-align: center;
  position: relative;
  padding: 40px;

  i {
    font-size: 46px;
    width: 1em;
    height: 1em;
  }

  .ha-steps-label {
    position: absolute;
    top: 5px;
    right: 0;
    background: #287dfe;
    color: #fff;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 12px;
    border: 3px solid #b8dfff;
  }
}

.ha-steps-title h4 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}

.ha-steps-title h4 a {
  color: #562dd4;
}
.ha-steps-title h4 a:hover {
  color: #e2498a;
}

p.ha-step-detail {
  color: #616161;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
}
