.ha-author {
    display: flex;
}
.ha-author.avatar-position-bottom {
    flex-direction: column-reverse;
}
.ha-author.avatar-position-top {
    flex-direction: column;
}
.ha-author.avatar-position-right .ha-avatar {
    order: 1;
}
.ha-author.avatar-position-left .ha-avatar {
    order: 0;
}

.ha-avatar {
    display: flex;
    height: fit-content;
    margin-right: 25px;
    align-self: flex-start;
}

.ha-desc .ha-author-posts-btn {
    display: inline-block;
    color: #555;
    font-weight: 500;
    // border: 2px solid #333;
    // padding: 7px 15px;
}

