.ha-badge {
	--ha-badge-translate-x: 0;
	--ha-badge-translate-y: 0;

	background-color: #fff;
	padding: 10px 18px;
	border-radius: 50px;
	font-size: 12px;
	line-height: 1;
	transform: translate(var(--ha-badge-translate-x), var(--ha-badge-translate-y));

	&--top-left {
		left: 30px;
		top: 30px;
	}

	&--top-center {
		left: 50%;
		--ha-badge-translate-x: -50%;
		top: 30px;
	}

	&--top-right {
		right: 30px;
		top: 30px;
	}

	&--middle-left {
		top: 50%;
		--ha-badge-translate-x: -50%;
		left: 30px;
	}

	&--middle-center {
		left: 50%;
		top: 50%;
		--ha-badge-translate-x: -50%;
		--ha-badge-translate-y: -50%;
	}

	&--middle-right {
		top: 50%;
		--ha-badge-translate-y: -50%;
		right: 30px;
	}

	&--bottom-left {
		left: 30px;
		bottom: 30px;
	}

	&--bottom-center {
		left: 50%;
		--ha-badge-translate-x: -50%;
		bottom: 30px;
	}

	&--bottom-right {
		right: 30px;
		bottom: 30px;
	}
}
