@import "variables";
@import "mixins";

.ha-btn {
  text-decoration: none;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  transition: all .3s;

  &:not(&--link) {
    background-color: $primary-color;
    color: #fff;
    border-radius: .25rem;
    padding: 15px 25px;

    &:hover,
    &:focus {
      background-color: $secondary-color;
    }
  }

  &.ha-btn--link {
    color: $primary-color;

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }

  &-icon {
    transition: all .3s;
  }

  &-icon + &-text,
  &-text + &-icon {
    margin-left: 5px;
  }
}
