@import "variables";
@import "mixins";

.ha-card {

  @extend %happyWidgetContainer;

  &-figure {
    position: relative;
    height: 250px;

    img {
      border-top-left-radius: calc(.5rem - 1px);
      border-top-right-radius: calc(.5rem - 1px);
      vertical-align: bottom;
      height: 100%;
      width: 100%;
    }
  }

  &-body {
    padding: 1.5rem;
  }

  &-title {
    margin-top: 0;
    margin-bottom: .75rem;
    color: #151515;
    font-size: 22px;
    font-weight: 700;
  }

  &-text {
    margin-bottom: 2rem;
    color: #616161;
    font-size: 16px;
    line-height: 1.7;

    > p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // Card variation
  &--top {
    .ha-card-figure {
      display: inline-block;
      width: 100%;
    }
  }

  &--right,
  &--left {
    @include widgetContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .ha-card-figure {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .ha-card-body {
      padding: 2.5rem;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &--left {
    .ha-card-figure img {
      border-radius: calc(.5rem - 1px) 0 0 calc(.5rem - 1px);
    }
  }

  &--right {
    @include widgetContainer {
      flex-direction: row-reverse;
      text-align: right;
    }

    .ha-card-figure img {
      border-radius: 0 calc(.5rem - 1px) calc(.5rem - 1px) 0;
    }
  }
}

// Card label
.ha-card .ha-badge {
  position: absolute;
}
