@import "variables";
@import "mixins";
@import "animations";

.ha-css-transform-yes {
	transform: translate(var(--ha-tfx-translate-x, 0), var(--ha-tfx-translate-y, 0))
		scale(var(--ha-tfx-scale-x, 1), var(--ha-tfx-scale-y, 1)) skew(var(--ha-tfx-skew-x, 0), var(--ha-tfx-skew-y, 0))
		rotateX(var(--ha-tfx-rotate-x, 0)) rotateY(var(--ha-tfx-rotate-y, 0)) rotateZ(var(--ha-tfx-rotate-z, 0));

	transition-property: transform;
	transition-duration: var(--ha-tfx-transition-duration, 0.2s);

	&:hover {
		transform: translate(
				var(--ha-tfx-translate-x-hover, var(--ha-tfx-translate-x, 0)),
				var(--ha-tfx-translate-y-hover, var(--ha-tfx-translate-y, 0))
			)
			scale(
				var(--ha-tfx-scale-x-hover, var(--ha-tfx-scale-x, 1)),
				var(--ha-tfx-scale-y-hover, var(--ha-tfx-scale-y, 1))
			)
			skew(
				var(--ha-tfx-skew-x-hover, var(--ha-tfx-skew-x, 0)),
				var(--ha-tfx-skew-y-hover, var(--ha-tfx-skew-y, 0))
			)
			rotateX(var(--ha-tfx-rotate-x-hover, var(--ha-tfx-rotate-x, 0)))
			rotateY(var(--ha-tfx-rotate-y-hover, var(--ha-tfx-rotate-y, 0)))
			rotateZ(var(--ha-tfx-rotate-z-hover, var(--ha-tfx-rotate-z, 0)));
	}
}

.happy-addon {
	@include widgetContainer {
		word-wrap: break-word;
		overflow-wrap: break-word;

		&,
		* {
			box-sizing: border-box;
		}
	}

	p:empty {
		display: none;
	}

	.elementor-inline-editing {
		min-height: auto !important;
	}
}

.happy-addon-pro img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.ha-screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.ha-has-bg-overlay {
	@include widgetContainer {
		z-index: 1;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}
}

.ha-popup--is-enabled {
	.ha-js-popup {
		&,
		& img {
			cursor: zoom-in !important;
		}
	}
}

.mfp-wrap {
	.mfp-close,
	.mfp-arrow {
		background-color: transparent;

		&:focus {
			outline-width: thin;
		}
	}
}

.ha-advanced-tooltip-enable {
	position: relative;
	cursor: pointer;

	--ha-tooltip-arrow-color: black;
	--ha-tooltip-arrow-distance: 0px;

	.ha-advanced-tooltip-content {
		display: none;
		width: 120px;
		height: auto;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 999;
		opacity: 0;

		&::after {
			content: "";
			position: absolute;
			border-width: 5px;
			border-style: solid;
		}

		&.no-arrow {
			&::after {
				visibility: hidden;
			}
		}

		&.show {
			display: inline-block;
			opacity: 1;
		}
	}

	&.ha-advanced-tooltip-top {
		.ha-advanced-tooltip-content {
			top: unset;
			bottom: calc(101% + var(--ha-tooltip-arrow-distance));
			left: 0;
			right: 0;
			margin: 0 auto;

			&::after {
				top: 100%;
				bottom: unset;
				left: 50%;
				right: unset;
				transform: translateX(-50%);
				border-color: var(--ha-tooltip-arrow-color) transparent transparent transparent;
			}
		}
	}

	&.ha-advanced-tooltip-bottom {
		.ha-advanced-tooltip-content {
			top: calc(101% + var(--ha-tooltip-arrow-distance));
			bottom: unset;
			left: 0;
			right: 0;
			margin: 0 auto;

			&::after {
				top: unset;
				bottom: 100%;
				left: 50%;
				right: unset;
				transform: translateX(-50%);
				border-color: transparent transparent var(--ha-tooltip-arrow-color) transparent;
			}
		}
	}

	&.ha-advanced-tooltip-left {
		.ha-advanced-tooltip-content {
			right: calc(101% + var(--ha-tooltip-arrow-distance));
			left: unset;
			top: 50%;
			bottom: unset;
			transform: translateY(-50%);

			&::after {
				top: 50%;
				bottom: unset;
				left: 100%;
				right: unset;
				transform: translateY(-50%);
				border-color: transparent transparent transparent var(--ha-tooltip-arrow-color);
			}
		}
	}

	&.ha-advanced-tooltip-right {
		.ha-advanced-tooltip-content {
			left: calc(101% + var(--ha-tooltip-arrow-distance));
			right: unset;
			top: 50%;
			bottom: unset;
			transform: translateY(-50%);

			&::after {
				top: 50%;
				bottom: unset;
				left: unset;
				right: 100%;
				transform: translateY(-50%);
				border-color: transparent var(--ha-tooltip-arrow-color) transparent transparent;
			}
		}
	}
}

body[data-elementor-device-mode="tablet"] {
	.ha-advanced-tooltip-enable {
		&.ha-advanced-tooltip-tablet-top {
			.ha-advanced-tooltip-content {
				top: unset;
				bottom: calc(101% + var(--ha-tooltip-arrow-distance));
				left: 0;
				right: 0;
				margin: 0 auto;

				&::after {
					top: 100%;
					bottom: unset;
					left: 50%;
					right: unset;
					transform: translateX(-50%);
					border-color: var(--ha-tooltip-arrow-color) transparent transparent transparent;
				}
			}
		}

		&.ha-advanced-tooltip-tablet-bottom {
			.ha-advanced-tooltip-content {
				top: calc(101% + var(--ha-tooltip-arrow-distance));
				bottom: unset;
				left: 0;
				right: 0;
				margin: 0 auto;

				&::after {
					top: unset;
					bottom: 100%;
					left: 50%;
					right: unset;
					transform: translateX(-50%);
					border-color: transparent transparent var(--ha-tooltip-arrow-color) transparent;
				}
			}
		}

		&.ha-advanced-tooltip-tablet-left {
			.ha-advanced-tooltip-content {
				right: calc(101% + var(--ha-tooltip-arrow-distance));
				left: unset;
				top: 50%;
				bottom: unset;
				transform: translateY(-50%);

				&::after {
					top: 50%;
					bottom: unset;
					left: 100%;
					right: unset;
					transform: translateY(-50%);
					border-color: transparent transparent transparent var(--ha-tooltip-arrow-color);
				}
			}
		}

		&.ha-advanced-tooltip-tablet-right {
			.ha-advanced-tooltip-content {
				left: calc(101% + var(--ha-tooltip-arrow-distance));
				right: unset;
				top: 50%;
				bottom: unset;
				transform: translateY(-50%);

				&::after {
					top: 50%;
					bottom: unset;
					left: unset;
					right: 100%;
					transform: translateY(-50%);
					border-color: transparent var(--ha-tooltip-arrow-color) transparent transparent;
				}
			}
		}
	}
}

body[data-elementor-device-mode="mobile"] {
	.ha-advanced-tooltip-enable {
		&.ha-advanced-tooltip-mobile-top {
			.ha-advanced-tooltip-content {
				top: unset;
				bottom: calc(101% + var(--ha-tooltip-arrow-distance));
				left: 0;
				right: 0;
				margin: 0 auto;

				&::after {
					top: 100%;
					bottom: unset;
					left: 50%;
					right: unset;
					transform: translateX(-50%);
					border-color: var(--ha-tooltip-arrow-color) transparent transparent transparent;
				}
			}
		}

		&.ha-advanced-tooltip-mobile-bottom {
			.ha-advanced-tooltip-content {
				top: calc(101% + var(--ha-tooltip-arrow-distance));
				bottom: unset;
				left: 0;
				right: 0;
				margin: 0 auto;

				&::after {
					top: unset;
					bottom: 100%;
					left: 50%;
					right: unset;
					transform: translateX(-50%);
					border-color: transparent transparent var(--ha-tooltip-arrow-color) transparent;
				}
			}
		}

		&.ha-advanced-tooltip-mobile-left {
			.ha-advanced-tooltip-content {
				right: calc(101% + var(--ha-tooltip-arrow-distance));
				left: unset;
				top: 50%;
				bottom: unset;
				transform: translateY(-50%);

				&::after {
					top: 50%;
					bottom: unset;
					left: 100%;
					right: unset;
					transform: translateY(-50%);
					border-color: transparent transparent transparent var(--ha-tooltip-arrow-color);
				}
			}
		}

		&.ha-advanced-tooltip-mobile-right {
			.ha-advanced-tooltip-content {
				left: calc(101% + var(--ha-tooltip-arrow-distance));
				right: unset;
				top: 50%;
				bottom: unset;
				transform: translateY(-50%);

				&::after {
					top: 50%;
					bottom: unset;
					left: unset;
					right: 100%;
					transform: translateY(-50%);
					border-color: transparent var(--ha-tooltip-arrow-color) transparent transparent;
				}
			}
		}
	}
}

// Gravity form show on editor
body.elementor-editor-active {
	.happy-addon.ha-gravityforms {
		.gform_wrapper {
			display: block !important;
		}
	}
}

/* Scroll To Top css start */
.ha-scroll-to-top-wrap.ha-scroll-to-top-hide {
    display: none;
}
.ha-scroll-to-top-wrap.edit-mode {
    display: none!important;
}

.ha-scroll-to-top-wrap.single-page-off {
    display: none!important;
}
.ha-scroll-to-top-button {
    position: fixed;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 9999;
    opacity: 1;
    color: #ffffff;
    background-color: #5636d1;
    border-radius: 50px;
	transition: all 0.3s;
}
.ha-scroll-to-top-button i {
    font-size: 16px;
    color: #ffffff;
}
.ha-scroll-to-top-button:hover {
    background-color: #E2498A;
}
/* Scroll To Top css End */

/** Start reading progress bar **/
#hm_hrp_bar_wrapper {
	width: 100%;
    background: #E2498A;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 15px;
    max-height: 50px;

    .hm-hrp-bar {
        position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
		font-size: 14px;
		font-weight: 500;
		color: #FFFFFF;
		display: none;
		justify-content: center;
		align-items: center;
    }
}


#hm_vrp_bar_wrapper {
	position: fixed;
	top: 0;
	right: 0;
	background: #E2498A;
	min-width: 15px;
	height: 100%;
	max-width: 50px;

	.hm-vrp-bar {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		max-height: 100%;
		width: 100%;
		background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);
		max-width: 50px;		
	}
}

.hm-crp-wrapper {
	position: fixed;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
	max-width: 120;
	max-height: 120px;
    z-index: 999;

	.hm-circular-progress {
		transform: rotate(-90deg);
		border-radius: 100%;

		.hm-progress-background {
			fill: none;
			stroke: #e6e6e6;
			stroke-width: 10;
		}

		.hm-progress-circle {
			fill: none;
			stroke: #4caf50;
			stroke-width: 10;
			stroke-dasharray: 283;
			stroke-dashoffset: 283;
			transition: stroke-dashoffset 0.4s ease;
		}
	}

	.hm-progress-percent-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		font-weight: 500;
	}
}


body.no-scroll {
  	scrollbar-width: none;
}

body.no-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/** End reading progress bar **/
