@import "variables";
@import "mixins";

.happy-addon {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  p:empty {
    display: none;
  }
}

.ha-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
