@import "variables";
@import "mixins";

.elementor-widget {
	transform:
		translate(var(--ha-tfx-translate-x, 0), var(--ha-tfx-translate-y, 0))
		scale(var(--ha-tfx-scale-x, 1), var(--ha-tfx-scale-y, 1))
		skew(var(--ha-tfx-skew-x, 0), var(--ha-tfx-skew-y, 0))
		rotateX(var(--ha-tfx-rotate-x, 0))
		rotateY(var(--ha-tfx-rotate-y, 0))
		rotateZ(var(--ha-tfx-rotate-z, 0));

	transition-property: transform;
	transition-duration: var(--ha-tfx-transition-duration, .2s);

	&:hover {
		transform:
			translate(var(--ha-tfx-translate-x-hover, 0), var(--ha-tfx-translate-y-hover, 0))
			scale(var(--ha-tfx-scale-x-hover, 1), var(--ha-tfx-scale-y-hover, 1))
			skew(var(--ha-tfx-skew-x-hover, 0), var(--ha-tfx-skew-y-hover, 0))
			rotateX(var(--ha-tfx-rotate-x-hover, 0))
			rotateY(var(--ha-tfx-rotate-y-hover, 0))
			rotateZ(var(--ha-tfx-rotate-z-hover, 0));
	}
}

.happy-addon {
	@include widgetContainer {
		word-wrap: break-word;
		overflow-wrap: break-word;

		&, * {
			box-sizing: border-box;
		}
	}

	img {
		max-width: 100%;
		height: auto;
		object-fit: cover;
	}

	p:empty {
		display: none;
	}

	.elementor-inline-editing {
		min-height: auto !important
	}
}

.ha-screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.ha-has-background-overlay {
	@include widgetContainer {
		z-index: 1;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}
}

.ha-popup--is-enabled {
	.ha-js-popup {
		&, & img {
			cursor: zoom-in !important;
		}
	}
}

.mfp-wrap {
	.mfp-close,
	.mfp-arrow {
		background-color: transparent;

		&:focus {
			outline-width: thin;
		}
	}
}
