@import "variables";
@import "mixins";

.ha-comparison-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    

	&__head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
	}
	&__head_item {
        flex: 10 0 auto;

        &:first-child{
            flex-grow: 1;
        }
        // &:nth-child(2){
        //     width: 10%;
        // }
        // &:nth-child(3){
        //     width: 10%;
        // }
	}
	&__row {

	}
	&__row_item {

	}
}
