@import "variables";
@import "mixins";

.ha-comparison-table {
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    

	&__head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
	}
	&__head-item {
        flex-grow: 1;
        display: flex;
        &:first-child{
            flex-grow: 10;
        }
        // &:nth-child(2){
        //     width: 10%;
        // }
        // &:nth-child(3){
        //     width: 10%;
        // }
	}
	&__row {
    }
    &__row-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // align-content: center;
        // align-items: center;
    }
    &__row-item-cell {
        flex-grow: 1;

        &:first-child{
            flex-grow: 10;
        }
    }
    &__row-item-cell-title {
        font-size: 20px;
    }
    &__row-cell-icon {
        font-size: 20px;
    }
}
