.ha-cs-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

    .ha-cs-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

        &.ha-cs-square {
            border-radius: 0;

            &:before {
                border-radius: 0;
            }
        }

        &.ha-cs-round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }

        &.ha-cs-round-2 {
            border-radius: 34px;
            height: 12px;

            &:before {
                border-radius: 50%;
                left: 0;
                bottom: -7px;
                background-color: #2196F3;
            }
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {

            &+.ha-cs-square {
                background-color: #2196F3;

                &:before {
                    transform: translateX(26px);
                }
            }

            &+.ha-cs-round {
                background-color: #2196F3;

                &:before {
                    transform: translateX(26px);
                }
            }

            &+.ha-cs-round-2 {
                background-color: #ccc;

                &:before {
                    transform: translateX(35px);
                }
            }
        }

        &:focus {

            &+.ha-cs-square {
                box-shadow: 0 0 1px #2196F3;
            }

            &+.ha-cs-round {
                box-shadow: 0 0 1px #2196F3;
            }

            &+.ha-cs-round-2 {
                box-shadow: 0 0 1px #ccc;
            }
        }
    }
}