.ha-data-table {

	.elementor-widget-container {
		overflow: hidden;
	}

	.data-table-error {
		padding: 20px;
		border-left: 4px solid #ff7726;
		background-color: #fff9f5;
	}

	.ha-table {
		margin-bottom: 0;

		.ha-table__head-column {
			background-color: #5636d1;

			&-cell {
				background-color: transparent;
				color: #fff;
				border: 1px solid;
				border-color: #5636d1 #320ebd #5636d1 #5636d1;
				padding: 20px;
				text-align: center;
			}
			&-cell-wrap {
				display: inline-flex;
				flex-direction: row;
			}
		}

		.ha-table__body {
			&-row {
				&:nth-child(even) {
					background-color: #fff;

					&:hover {
						background-color: rgba(86, 54, 209, 0.08);
					}
				}
				&:nth-child(odd) {
					background-color: #fff;

					&:hover {
						background-color: rgba(232, 53, 124, 0.08);
					}
				}
			}
			&-row-cell {
				background-color: transparent;
				border: 1px solid #ddd;
				padding: 15px;
			}
			&-row-cell-wrap {
				display: inline-flex;
				flex-direction: row;
			}
		}

	}

}
