@import "variables";
@import "mixins";

.ha-dual-btn {
  &,
  &-connector {
    display: inline-block;
  }

  &-wrapper {
    position: relative;
    text-align: center;
    font-weight: 400;
  }

  & {
    padding: 1.2rem 3rem;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    max-width: 100%;
  }

  &--left {
    background-color: $primary-color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($primary-color, 10%);
    }
  }

  &--right {
    background-color: $secondary-color;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($secondary-color, 10%);
    }
  }

  &-connector {
    position: absolute !important;
    z-index: 9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .3);
    border-radius: 100%;
    background-color: #fff;
    color: #27374c;
    font-size: 12px;
    text-transform: uppercase;
    transform: translate(50%, -50%);
    overflow: hidden;
  }

  &-icon {
    > svg {
      width: 1em;
      height: auto;
    }

    > i {
      font-size: 1em;
    }

    &--before {
      margin-right: 5px;
    }
    &--after {
      margin-left: 5px;
    }
  }
}

.ha-dual-button {
  @include widgetContainer {
    display: flex;
  }

  &--mobile-layout-stack {
    @include widgetContainer {
      flex-direction: column;
    }

    .ha-dual-btn-wrapper {
      max-width: 100%;
    }

    .ha-dual-btn-connector {
      top: 100%;
      right: 50%;
    }

    .ha-dual-btn--left {
      border-radius: 30px 30px 0 0;
    }

    .ha-dual-btn--right {
      border-radius: 0 0 30px 30px;
    }
  }

  &--mobile-layout-stack#{&}--mobile-align-left {
    @include widgetContainer {
      align-items: flex-start;
    }
  }
  &--mobile-layout-stack#{&}--mobile-align-center {
    @include widgetContainer {
      align-items: center;
    }
  }
  &--mobile-layout-stack#{&}--mobile-align-right {
    @include widgetContainer {
      align-items: flex-end;
    }
  }

  &--mobile-layout-queue#{&}--mobile-align-left {
    @include widgetContainer {
      justify-content: flex-start;
    }
  }
  &--mobile-layout-queue#{&}--mobile-align-center {
    @include widgetContainer {
      justify-content: center;
    }
  }
  &--mobile-layout-queue#{&}--mobile-align-right {
    @include widgetContainer {
      justify-content: flex-end;
    }
  }

  &--mobile-layout-queue {
    @include widgetContainer {
      flex-direction: row;
    }

    .ha-dual-btn-wrapper {
      max-width: 50%;
    }

    .ha-dual-btn-connector {
      top: 50%;
      right: 0;
    }

    .ha-dual-btn--left {
      border-radius: 50px 0 0 50px;
    }

    .ha-dual-btn--right {
      border-radius: 0 50px 50px 0;
    }
  }

  @media (min-width: 768px) {
    &--tablet-layout-stack#{&}--tablet-align-left {
      @include widgetContainer {
        align-items: flex-start;
      }
    }
    &--tablet-layout-stack#{&}--tablet-align-center {
      @include widgetContainer {
        align-items: center;
      }
    }
    &--tablet-layout-stack#{&}--tablet-align-right {
      @include widgetContainer {
        align-items: flex-end;
      }
    }

    &--tablet-layout-queue#{&}--tablet-align-left {
      @include widgetContainer {
        justify-content: flex-start;
      }
    }
    &--tablet-layout-queue#{&}--tablet-align-center {
      @include widgetContainer {
        justify-content: center;
      }
    }
    &--tablet-layout-queue#{&}--tablet-align-right {
      @include widgetContainer {
        justify-content: flex-end;
      }
    }

    &--tablet-layout-stack {
      @include widgetContainer {
        flex-direction: column;
      }

      .ha-dual-btn-wrapper {
        max-width: 100%;
      }

      .ha-dual-btn-connector {
        top: 100%;
        right: 50%;
      }

      .ha-dual-btn--left {
        border-radius: 30px 30px 0 0;
      }

      .ha-dual-btn--right {
        border-radius: 0 0 30px 30px;
      }
    }

    &--tablet-layout-queue {
      @include widgetContainer {
        flex-direction: row;
      }

      .ha-dual-btn-wrapper {
        max-width: 50%;
      }

      .ha-dual-btn-connector {
        top: 50%;
        right: 0;
      }

      .ha-dual-btn--left {
        border-radius: 50px 0 0 50px;
      }

      .ha-dual-btn--right {
        border-radius: 0 50px 50px 0;
      }
    }
  }

  @media (min-width: 1025px) {
    &--layout-stack#{&}--align-left {
      @include widgetContainer {
        align-items: flex-start;
      }
    }
    &--layout-stack#{&}--align-center {
      @include widgetContainer {
        align-items: center;
      }
    }
    &--layout-stack#{&}--align-right {
      @include widgetContainer {
        align-items: flex-end;
      }
    }

    &--layout-queue#{&}--align-left {
      @include widgetContainer {
        justify-content: flex-start;
      }
    }
    &--layout-queue#{&}--align-center {
      @include widgetContainer {
        justify-content: center;
      }
    }
    &--layout-queue#{&}--align-right {
      @include widgetContainer {
        justify-content: flex-end;
      }
    }

    &--layout-stack {
      @include widgetContainer {
        flex-direction: column;
      }

      .ha-dual-btn-wrapper {
        max-width: 100%;
      }

      .ha-dual-btn-connector {
        top: 100%;
        right: 50%;
      }

      .ha-dual-btn--left {
        border-radius: 30px 30px 0 0;
      }

      .ha-dual-btn--right {
        border-radius: 0 0 30px 30px;
      }
    }

    &--layout-queue {
      @include widgetContainer {
        flex-direction: row;
      }

      .ha-dual-btn-wrapper {
        max-width: 50%;
      }

      .ha-dual-btn-connector {
        top: 50%;
        right: 0;
      }

      .ha-dual-btn--left {
        border-radius: 50px 0 0 50px;
      }

      .ha-dual-btn--right {
        border-radius: 0 50px 50px 0;
      }
    }
  }
}
