@import "variables";
@import "mixins";

.ha-fun-factor__content .ha-fun-factor__content-number-wrap {
	display: flex;
	justify-content: center;
	line-height: 1;
}
// .ha-fun-factor-align-left .ha-fun-factor__content .ha-fun-factor__content-number-wrap {
// 	justify-content: flex-start;
// }
// .ha-fun-factor-align-right .ha-fun-factor__content .ha-fun-factor__content-number-wrap {
// 	justify-content: flex-end;
// }
.ha-fun-factor__content .ha-fun-factor__content-number-wrap,
.ha-fun-factor__content .ha-fun-factor__content-text {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 24px;
}
.ha-fun-factor__content .ha-fun-factor__content-number-prefix,
.ha-fun-factor__content .ha-fun-factor__content-number,
.ha-fun-factor__content .ha-fun-factor__content-number-suffix {
	font-size: 24px;
}

.ha-ff-icon--left .ha-fun-factor__content {
	padding-left: 20px;
}

.ha-ff-icon--right .ha-fun-factor__content {
	padding-right: 20px;
}

.ha-fun-factor__divider {
	display: inline-block;
	height: 1px;
	background-color: #ccc;
	margin-bottom: 15px;
}

.ha-ff-icon--top .ha-fun-factor__media {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ha-ff-icon--top .ha-fun-factor__media--image {
	width: 200px;
}

:not(.ha-ff-icon--top) .ha-fun-factor__media--image {
	flex: 0 0 200px;
	max-width: 200px;
}

.ha-fun-factor__media--image img {
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	object-fit: cover;
}

.ha-fun-factor__media--icon {
	font-size: 3rem;

	i,
	svg {
		position: relative;
		display: block;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}

	i:before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.ha-fun-factor__wrap {
	padding: 10px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.ha-ff-icon--right .ha-fun-factor__wrap,
.ha-ff-icon--left .ha-fun-factor__wrap {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.ha-ff-icon--right .ha-fun-factor__wrap {
	flex-direction: row-reverse;
	text-align: right;
}

.ha-ff-icon--right .ha-fun-factor__wrap .ha-fun-factor__divider,
.ha-ff-icon--left .ha-fun-factor__wrap .ha-fun-factor__divider,
.ha-ff-icon--top .ha-fun-factor__wrap .ha-fun-factor__divider {
	// margin-left: auto;
	// margin-right: auto;
	// display: block;
	width: 100px;
}

.ha-ff-icon--right .ha-fun-factor__wrap .ha-fun-factor__divider,
.ha-ff-icon--left .ha-fun-factor__wrap .ha-fun-factor__divider {
	width: 100% !important;
}

// .ha-fun-factor__divider-align-left {
// 	text-align: left;
// 	margin-left: 0 !important;
// }

// .ha-fun-factor__divider-align-right {
// 	text-align: right;
// 	margin-right: 0 !important;
// }

// .ha-fun-factor__divider-align-center {
// 	text-align: center;
// 	margin-left: auto !important;
// 	margin-right: auto !important;
// }
