.ha-fun-box .ha-fun-box-number,
.ha-fun-box .ha-fun-box-text {
	margin-top: 0;
	margin-bottom: 15px;
}

.ha-ff-icon--left .ha-fun-box {
	padding-left: 20px;
}

.ha-ff-icon--right .ha-fun-box {
	padding-right: 20px;
}

.ha-fun-factor-divider {
	height: 1px;
	background-color: #CCCCCC;
	margin-bottom: 15px;
}

.ha-ff-icon--top .ha-fun-box-icon-section,
.ha-ff-icon--top .ha-fun-box-image-section {
	display: inline-block;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ha-fun-box-container {
	padding: 10px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.ha-ff-icon--right > .elementor-widget-container .ha-fun-box-container,
.ha-ff-icon--left > .elementor-widget-container .ha-fun-box-container {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.ha-ff-icon--right > .elementor-widget-container .ha-fun-box-container {
	flex-direction: row-reverse;
	text-align: right;
}

.ha-ff-icon--right > .elementor-widget-container .ha-fun-box-container .ha-fun-factor-divider,
.ha-ff-icon--left > .elementor-widget-container .ha-fun-box-container .ha-fun-factor-divider {
	//margin: auto;
	margin-left: auto;
	margin-right: auto;
}

.ha-ff-icon--top > .elementor-widget-container .ha-fun-box-container .ha-fun-factor-divider {
	margin-left: auto;
	margin-right: auto;
}

.elementor-widget-container .ha-fun-box-container .ha-fun-factor-divider {
	display: block;
	width: 10%;
}

.ha-ff-icon--right > .elementor-widget-container .ha-fun-box-container .ha-fun-factor-divider,
.ha-ff-icon--left > .elementor-widget-container .ha-fun-box-container .ha-fun-factor-divider {
	width: 100% !important;
}

.ha-fun-factor-divider-align-left {
	text-align: left;
	margin-left: 0 !important;
}

.ha-fun-factor-divider-align-right {
	text-align: right;
	margin-right: 0 !important;
}

.ha-fun-factor-divider-align-center {
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
}

.ha-fun-box-text {
	margin-top: 20px;
	margin-bottom: 20px;
}
