.ha-fun-factor-icon {
	font-size: 3em;
}
.ha-fun-factor-content .ha-fun-factor-content-number,
.ha-fun-factor-content .ha-fun-factor-content-text {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 24px;
}

.ha-ff-icon--left .ha-fun-factor-content {
	padding-left: 20px;
}

.ha-ff-icon--right .ha-fun-factor-content {
	padding-right: 20px;
}

.ha-fun-factor-divider {
	height: 1px;
	background-color: #CCCCCC;
	margin-bottom: 15px;
}

.ha-ff-icon--top .ha-fun-factor-icon-section,
.ha-ff-icon--top .ha-fun-factor-image-section {
	display: inline-block;
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ha-fun-factor-image-section img {
	width: 200px;
	height: 100px;
}

.ha-ff-container {
	padding: 10px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.ha-ff-icon--right > .elementor-widget-container .ha-ff-container,
.ha-ff-icon--left > .elementor-widget-container .ha-ff-container {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.ha-ff-icon--right > .elementor-widget-container .ha-ff-container {
	flex-direction: row-reverse;
	text-align: right;
}

.ha-ff-icon--right > .elementor-widget-container .ha-ff-container .ha-fun-factor-divider,
.ha-ff-icon--left > .elementor-widget-container .ha-ff-container .ha-fun-factor-divider,
.ha-ff-icon--top > .elementor-widget-container .ha-ff-container .ha-fun-factor-divider {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
}

.ha-ff-icon--right > .elementor-widget-container .ha-ff-container .ha-fun-factor-divider,
.ha-ff-icon--left > .elementor-widget-container .ha-ff-container .ha-fun-factor-divider {
	width: 100% !important;
}

.ha-fun-factor-divider-align-left {
	text-align: left;
	margin-left: 0 !important;
}

.ha-fun-factor-divider-align-right {
	text-align: right;
	margin-right: 0 !important;
}

.ha-fun-factor-divider-align-center {
	text-align: center;
	margin-left: auto !important;
	margin-right: auto !important;
}
