/* Wrapper enabled when animation switcher is ON */
.elementor-widget-heading.ha-hta-yes {
    position: relative;
    overflow: hidden;
    display: inline-block;
    perspective: 1000px;
}

/* Base heading */
.elementor-widget-heading.ha-hta-yes .elementor-heading-title {
    display: inline-block;
}

/* Characters */
.ha-char {
    display: inline-block;
    white-space: pre;
    will-change: transform, opacity;
}

/* Words */
.ha-word {
    display: inline-block;
    white-space: pre;
    will-change: transform, opacity;
}

/* flip */
.ha-flip {
    // display: block;
    // will-change: transform, opacity;
    display: block;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform, opacity;
}

.duplicate-text {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    top: 0;
    left: 0;
}

/* 3D mode */
.ha-hta-3d-spin {
    display: inline-block;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    .ha-char {
        display: inline-block;
        white-space: pre;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
}

/* Invert mode */
.ha-hta-text-invert .ha-invert {
    position: relative;
    display: block;

    background: linear-gradient(to left,
            currentColor 50%,
            rgba(0, 0, 0, 0.2) 50%);

    background-size: 200% 100%;
    background-position-x: 100%;

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
}