.ha-horizontal-timeline {

	.ha-horizontal-timeline-block {
		position: relative;
		padding: 30px;
	}

	.ha-horizontal-timeline-icon-box {
		position: relative;
		margin-bottom: 35px;
	}

	.ha-horizontal-timeline-top-inner {
		position: relative;
	}

	.ha-horizontal-timeline-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		background-color: #efefef;
		color: #333;
		border-radius: 50%;
		margin-top: 10px;
		margin-left: 10px;

		> svg {
			height: 1em;
			width: auto;
			fill: currentColor;
		}
	}

	.ha-horizontal-timeline-date {
		font-size: 14px;
		color: #a2a2a2;
	}

	.ha-horizontal-timeline-tree {
		position: absolute;
		top: 50%;
		left: 0;
		z-index: -5;
		overflow: hidden;
		width: 150%;
		height: 2px;
		background: #efefef;
		transform: translateY(-50%);
	}

	.ha-horizontal-timeline-content {
		display: flex;
		flex-direction: column;
		position: relative;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);

		.ha-horizontal-timeline-arrow {
			position: absolute;
			transition: inherit;
			width: 15px;
			height: 15px;
			left: 25px;
			bottom: 100%;
			transform: translateY(50%) rotate(45deg);
			border-right-color: transparent;
			border-bottom-color: transparent;
			box-sizing: content-box;
			box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
		}
		.ha-horizontal-timeline-arrow::before {
			background-color: #fff;
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			transition: inherit;
		}
	}

	.ha-horizontal-timeline-inner {
		display: flex;
		flex-direction: column;
		padding: 20px;
		z-index: 1;
		background-color: #fff;
    }

	.ha-horizontal-timeline-image {
		margin-bottom: 10px;

		img {
			object-fit: cover;
		}
	}

	.ha-horizontal-timeline-image[data-mfp-src] {
		cursor: pointer;
	}

	.ha-horizontal-timeline-title {
		font-size: 22px;
		margin-top: 0;
		margin-bottom: 10px;
		color: #3c3c3c;
	}
	.ha-horizontal-timeline-title-link {
		font-size: 22px;
		margin-top: 0;
		margin-bottom: 10px;
		color: #3c3c3c;
	}
	.ha-horizontal-timeline-subtitle {
		display: block;
		color: #999;
		margin-bottom: 20px;
	}
	.ha-horizontal-timeline-description {
		font-size: 16px;
		margin: 0;
		color: #3c3c3c;
	}

	.slick-prev.slick-arrow,
	.slick-next.slick-arrow {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		width: 2.66em;
		height: 2.66em;

		top: 88px;
		color: #8c8c8c;
		background-color: #fff;
		border: 1px solid #dadada;
		font-size: 15px;
		border-radius: 50%;
		z-index: 999;
		opacity: 1;
		padding: 0;

		&:hover,
		&:focus {
			color: #fff;
			background-color: #222;
			border-color: #222;
		}

		&:before {
			content: '';
			display: none;
		}

		> svg {
			height: 1em;
			fill: currentColor;
			width: auto;
		}
	}

	.slick-prev.slick-arrow {
		left: -25px;
	}
	.slick-next.slick-arrow {
		right: -25px;
	}

	.slick-disabled {
		opacity: .7;
	}

}
