@import "variables";
@import "mixins";


.grid {
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	height: 100%;
	width: 100%;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	object-fit: cover;
    object-position: center;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	backface-visibility: hidden;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure h2 {
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	font-size: 16px;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.ha-effect-lily img {
	max-width: none;
	width: calc(100% + 50px);
	opacity: 0.7;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-40px,0,0);
}

figure.ha-effect-lily figcaption {
	text-align: left;
}

figure.ha-effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.ha-effect-lily h2,
figure.ha-effect-lily p {
	transform: translate3d(0,40px,0);
}

figure.ha-effect-lily h2 {
	transition: transform 0.35s;
}

figure.ha-effect-lily p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	transition: opacity 0.2s, transform 0.35s;
}

figure.ha-effect-lily:hover img,
figure.ha-effect-lily:hover p {
	opacity: 1;
}

figure.ha-effect-lily:hover img,
figure.ha-effect-lily:hover h2,
figure.ha-effect-lily:hover p {
	transform: translate3d(0,0,0);
}

figure.ha-effect-lily:hover p {
	transition-delay: 0.05s;
	transition-duration: 0.35s;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.ha-effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	transform: translate3d(0,50%,0);
}

figure.ha-effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #484c61;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
}

figure.ha-effect-sadie figcaption::before,
figure.ha-effect-sadie p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	transform: translate3d(0,10px,0);
}

figure.ha-effect-sadie:hover h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.ha-effect-sadie:hover figcaption::before ,
figure.ha-effect-sadie:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.ha-effect-roxy {
	background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

figure.ha-effect-roxy img {
	max-width: none;
	width: calc(100% + 60px);
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-50px,0,0);
}

figure.ha-effect-roxy figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-20px,0,0);
}

figure.ha-effect-roxy figcaption {
	padding: 3em;
	text-align: left;
}

figure.ha-effect-roxy h2 {
	padding: 30% 0 10px 0;
}

figure.ha-effect-roxy p {
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-10px,0,0);
}

figure.ha-effect-roxy:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
}

figure.ha-effect-roxy:hover figcaption::before,
figure.ha-effect-roxy:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.ha-effect-bubba {
	background: #9e5406;
}

figure.ha-effect-bubba img {
	opacity: 0.7;
	transition: opacity 0.35s;
}

figure.ha-effect-bubba:hover img {
	opacity: 0.4;
}

figure.ha-effect-bubba figcaption::before,
figure.ha-effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
}

figure.ha-effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: scale(1,0);
}

figure.ha-effect-bubba h2 {
	padding-top: 30%;
	transition: transform 0.35s;
	transform: translate3d(0,-20px,0);
}

figure.ha-effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,20px,0);
}

figure.ha-effect-bubba:hover figcaption::before,
figure.ha-effect-bubba:hover figcaption::after {
	opacity: 1;
	transform: scale(1);
}

figure.ha-effect-bubba:hover h2,
figure.ha-effect-bubba:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Romeo *****/
/*---------------*/

figure.ha-effect-romeo {
	perspective: 1000px;
}

figure.ha-effect-romeo img {
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,0,300px);
}

figure.ha-effect-romeo:hover img {
	opacity: 0.6;
	transform: translate3d(0,0,0);
}

figure.ha-effect-romeo figcaption::before,
figure.ha-effect-romeo figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: '';
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-50%,-50%,0);
}

figure.ha-effect-romeo:hover figcaption::before {
	opacity: 0.5;
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

figure.ha-effect-romeo:hover figcaption::after {
	opacity: 0.5;
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

figure.ha-effect-romeo h2,
figure.ha-effect-romeo p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transition: transform 0.35s;
}

figure.ha-effect-romeo h2 {
	transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
}

figure.ha-effect-romeo p {
	padding: 0.25em 2em;
	transform: translate3d(0,-50%,0) translate3d(0,150%,0);
}

figure.ha-effect-romeo:hover h2 {
	transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
}

figure.ha-effect-romeo:hover p {
	transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.ha-effect-layla {
	background: #18a367;
}

figure.ha-effect-layla img {
	height: 390px;
}

figure.ha-effect-layla figcaption {
	padding: 3em;
}

figure.ha-effect-layla figcaption::before,
figure.ha-effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.ha-effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	transform: scale(0,1);
	transform-origin: 0 0;
}

figure.ha-effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: scale(1,0);
	transform-origin: 100% 0;
}

figure.ha-effect-layla h2 {
	// padding-top: 26%;
	transition: transform 0.35s;
}

figure.ha-effect-layla p {
	// padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	transform: translate3d(0,-10px,0);
}

figure.ha-effect-layla img,
figure.ha-effect-layla h2 {
	transform: translate3d(0,-30px,0);
}

figure.ha-effect-layla img,
figure.ha-effect-layla figcaption::before,
figure.ha-effect-layla figcaption::after,
figure.ha-effect-layla p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-layla:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
}

figure.ha-effect-layla:hover figcaption::before,
figure.ha-effect-layla:hover figcaption::after {
	opacity: 1;
	transform: scale(1);
}

figure.ha-effect-layla:hover h2,
figure.ha-effect-layla:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

figure.ha-effect-layla:hover figcaption::after,
figure.ha-effect-layla:hover h2,
figure.ha-effect-layla:hover p,
figure.ha-effect-layla:hover img {
	transition-delay: 0.15s;
}

/*---------------*/
/***** Honey *****/
/*---------------*/

figure.ha-effect-honey {
	background: #4a3753;
}

figure.ha-effect-honey img {
	opacity: 0.9;
	transition: opacity 0.35s;
}

figure.ha-effect-honey:hover img {
	opacity: 0.5;
}

figure.ha-effect-honey figcaption::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background: #fff;
	content: '';
	transform: translate3d(0,10px,0);
}

figure.ha-effect-honey h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em 1.5em;
	width: 100%;
	text-align: left;
	transform: translate3d(0,-30px,0);
}

figure.ha-effect-honey h2 i {
	font-style: normal;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,-30px,0);
}

figure.ha-effect-honey figcaption::before,
figure.ha-effect-honey h2 {
	transition: transform 0.35s;
}

figure.ha-effect-honey:hover figcaption::before,
figure.ha-effect-honey:hover h2,
figure.ha-effect-honey:hover h2 i {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.ha-effect-oscar {
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.ha-effect-oscar img {
	opacity: 0.9;
	transition: opacity 0.35s;
}

figure.ha-effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(58,52,42,0.7);
	transition: background-color 0.35s;
}

figure.ha-effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.ha-effect-oscar h2 {
	margin: 20% 0 10px 0;
	transition: transform 0.35s;
	transform: translate3d(0,100%,0);
}

figure.ha-effect-oscar figcaption::before,
figure.ha-effect-oscar p {
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(0);
}

figure.ha-effect-oscar:hover h2 {
	transform: translate3d(0,0,0);
}

figure.ha-effect-oscar:hover figcaption::before,
figure.ha-effect-oscar:hover p {
	opacity: 1;
	transform: scale(1);
}

figure.ha-effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.ha-effect-oscar:hover img {
	opacity: 0.4;
}

/*---------------*/
/***** Marley *****/
/*---------------*/

figure.ha-effect-marley figcaption {
	text-align: right;
}

figure.ha-effect-marley h2,
figure.ha-effect-marley p {
	position: absolute;
	right: 30px;
	left: 30px;
	padding: 10px 0;
}


figure.ha-effect-marley p {
	bottom: 30px;
	line-height: 1.5;
	transform: translate3d(0,100%,0);
}

figure.ha-effect-marley h2 {
	top: 30px;
	transition: transform 0.35s;
	transform: translate3d(0,20px,0);
}

figure.ha-effect-marley:hover h2 {
	transform: translate3d(0,0,0);
}

figure.ha-effect-marley h2::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: #fff;
	content: '';
	transform: translate3d(0,40px,0);
}

figure.ha-effect-marley h2::after,
figure.ha-effect-marley p {
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-marley:hover h2::after,
figure.ha-effect-marley:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.ha-effect-ruby {
	background-color: #17819c;
}

figure.ha-effect-ruby img {
	opacity: 0.7;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.15);
}

figure.ha-effect-ruby:hover img {
	opacity: 0.5;
	transform: scale(1);
}

figure.ha-effect-ruby h2 {
	margin-top: 20%;
	transition: transform 0.35s;
	transform: translate3d(0,20px,0);
}

figure.ha-effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.ha-effect-ruby:hover h2 {
	transform: translate3d(0,0,0);
}

figure.ha-effect-ruby:hover p {
	opacity: 1;
	transform: translate3d(0,0,0) scale(1);
}

/*---------------*/
/***** Milo *****/
/*---------------*/

figure.ha-effect-milo {
	background: #2e5d5a;
}

figure.ha-effect-milo img {
	max-width: none;
	width: calc(100% + 60px);
	opacity: 1;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-30px,0,0) scale(1.12);
	backface-visibility: hidden;
}

figure.ha-effect-milo:hover img {
	opacity: 0.5;
	transform: translate3d(0,0,0) scale(1);
}

figure.ha-effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

figure.ha-effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-40px,0,0);
}

figure.ha-effect-milo:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.ha-effect-dexter {
	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); 
}

figure.ha-effect-dexter img {
	transition: opacity 0.35s;
}

figure.ha-effect-dexter:hover img {
	opacity: 0.4;
}

figure.ha-effect-dexter figcaption::after {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	transition: transform 0.35s;
	transform: translate3d(0,-100%,0);
}

figure.ha-effect-dexter:hover figcaption::after {
	transform: translate3d(0,0,0);
}

figure.ha-effect-dexter figcaption {
	padding: 3em;
	text-align: left;
	justify-content: flex-start;
}

figure.ha-effect-dexter p {
	position: absolute;
	right: 60px;
	bottom: 60px;
	left: 60px;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,-100px,0);
}

figure.ha-effect-dexter:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.ha-effect-sarah {
	background: #42b078;
}

figure.ha-effect-sarah img {
	max-width: none;
	width: calc(100% + 20px);
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-10px,0,0);
	backface-visibility: hidden;
}

figure.ha-effect-sarah:hover img {
	opacity: 0.4;
	transform: translate3d(0,0,0);
}

figure.ha-effect-sarah figcaption {
	text-align: left;
	align-items: flex-start;
}

figure.ha-effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.ha-effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	transition: transform 0.35s;
	transform: translate3d(-100%,0,0);
}

figure.ha-effect-sarah:hover h2::after {
	transform: translate3d(0,0,0);
}

figure.ha-effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(100%,0,0);
}

figure.ha-effect-sarah:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Chico *****/
/*---------------*/

figure.ha-effect-chico img {
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.12);
}

figure.ha-effect-chico:hover img {
	opacity: 0.5;
	transform: scale(1);
}

figure.ha-effect-chico figcaption {
	padding: 3em;
}

figure.ha-effect-chico figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	transform: scale(1.1);
}

figure.ha-effect-chico figcaption::before,
figure.ha-effect-chico p {
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-chico h2 {
	padding: 20% 0 20px 0;
}

figure.ha-effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	transform: scale(1.5);
}

figure.ha-effect-chico:hover figcaption::before,
figure.ha-effect-chico:hover p {
	opacity: 1;
	transform: scale(1);
}

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.ha-effect-julia {
	background: #2f3238;
}

figure.ha-effect-julia img {
	max-width: none;
	height: 400px;
	transition: opacity 1s, transform 1s;
	backface-visibility: hidden;
}

figure.ha-effect-julia figcaption {
	text-align: left;
}

figure.ha-effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.ha-effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-360px,0,0);
}

figure.ha-effect-julia p:first-child {
	transition-delay: 0.15s;
}

figure.ha-effect-julia p:nth-of-type(2) {
	transition-delay: 0.1s;
}

figure.ha-effect-julia p:nth-of-type(3) {
	transition-delay: 0.05s;
}

figure.ha-effect-julia:hover p:first-child {
	transition-delay: 0s;
}

figure.ha-effect-julia:hover p:nth-of-type(2) {
	transition-delay: 0.05s;
}

figure.ha-effect-julia:hover p:nth-of-type(3) {
	transition-delay: 0.1s;
}

figure.ha-effect-julia:hover img {
	opacity: 0.4;
	transform: scale3d(1.1,1.1,1);
}

figure.ha-effect-julia:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*-----------------*/
/***** Goliath *****/
/*-----------------*/

figure.ha-effect-goliath {
	background: #df4e4e;
}

figure.ha-effect-goliath img,
figure.ha-effect-goliath h2 {
	transition: transform 0.35s;
}

figure.ha-effect-goliath img {
	backface-visibility: hidden;
}

figure.ha-effect-goliath h2,
figure.ha-effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
}

figure.ha-effect-goliath p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,50px,0);
}

figure.ha-effect-goliath:hover img {
	transform: translate3d(0,-80px,0);
}

figure.ha-effect-goliath:hover h2 {
	transform: translate3d(0,-100px,0);
}

figure.ha-effect-goliath:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}



/*-----------------*/
/***** Apollo *****/
/*-----------------*/

figure.ha-effect-apollo {
	background: #3498db;
}

figure.ha-effect-apollo img {
	opacity: 0.95;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale3d(1.05,1.05,1);
}

figure.ha-effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.5);
	content: '';
	transition: transform 0.6s;
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.ha-effect-apollo p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	transition: opacity 0.35s;
}

figure.ha-effect-apollo h2 {
	text-align: left;
}

figure.ha-effect-apollo:hover img {
	opacity: 0.6;
	transform: scale3d(1,1,1);
}

figure.ha-effect-apollo:hover figcaption::before {
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.ha-effect-apollo:hover p {
	opacity: 1;
	transition-delay: 0.1s;
}

/*-----------------*/
/***** Moses *****/
/*-----------------*/

figure.ha-effect-moses {
	background: linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
}

figure.ha-effect-moses img {
	opacity: 0.85;
	transition: opacity 0.35s;
}

figure.ha-effect-moses figcaption{
	align-items: flex-start;
}

figure.ha-effect-moses h2,
figure.ha-effect-moses p {
	padding: 20px;
	width: 50%;
	height: 50%;
	border: 2px solid #fff;
}

figure.ha-effect-moses h2 {
	padding: 20px;
	width: 50%;
	height: 50%;
	text-align: left;
	transition: transform 0.35s;
	transform: translate3d(10px,10px,0);
}

figure.ha-effect-moses p {
	float: right;
	padding: 20px;
	text-align: right;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-50%,-50%,0);
}

figure.ha-effect-moses:hover h2 {
	transform: translate3d(0,0,0);
}

figure.ha-effect-moses:hover p {
	opacity: 1;
	transform: translate3d(100%,0,0);
}

figure.ha-effect-moses:hover img {
	opacity: 0.6;
}

/*---------------*/
/***** Jazz *****/
/*---------------*/

figure.ha-effect-jazz {
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
}

figure.ha-effect-jazz img {
	opacity: 0.9;
}

figure.ha-effect-jazz figcaption::after,
figure.ha-effect-jazz img,
figure.ha-effect-jazz p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-jazz figcaption::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	content: '';
	opacity: 0;
	transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
	transform-origin: 50% 50%;
}

figure.ha-effect-jazz h2,
figure.ha-effect-jazz p {
	opacity: 1;
	transform: scale3d(0.8,0.8,1);
}

figure.ha-effect-jazz h2 {
	transition: transform 0.35s;
}

figure.ha-effect-jazz p {
	padding: 0.5em 2em;
	text-transform: none;
	font-size: 0.85em;
	opacity: 0;
}

figure.ha-effect-jazz:hover img {
	opacity: 0.7;
	transform: scale3d(1.05,1.05,1);
}

figure.ha-effect-jazz:hover figcaption::after {
	opacity: 1;
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

figure.ha-effect-jazz:hover h2,
figure.ha-effect-jazz:hover p {
	opacity: 1;
	transform: scale3d(1,1,1);
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.ha-effect-ming {
	background: #030c17;
}

figure.ha-effect-ming img {
	opacity: 0.9;
	transition: opacity 0.35s;
}

figure.ha-effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale3d(1.4,1.4,1);
}

figure.ha-effect-ming h2 {
	margin: 20% 0 10px 0;
	transition: transform 0.35s;
}

figure.ha-effect-ming p {
	padding: 1em;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.5);
}

figure.ha-effect-ming:hover h2 {
	transform: scale(0.9);
}

figure.ha-effect-ming:hover figcaption::before,
figure.ha-effect-ming:hover p {
	opacity: 1;
	transform: scale3d(1,1,1);
}

figure.ha-effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.ha-effect-ming:hover img {
	opacity: 0.4;
}

/*---------------*/
/***** Lexi *****/
/*---------------*/

figure.ha-effect-lexi {
	background: linear-gradient(-45deg, #000 0%,#fff 100%);
}

figure.ha-effect-lexi img {
	margin: -10px 0 0 -10px;
	max-width: none;
	width: calc(100% + 10px);
	opacity: 0.9;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(10px,10px,0);
	backface-visibility: hidden;
}

figure.ha-effect-lexi figcaption::before,
figure.ha-effect-lexi p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-lexi figcaption::before {
	position: absolute;
	right: -100px;
	bottom: -100px;
	width: 300px;
	height: 300px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	transform: scale3d(0.5,0.5,1);
	transform-origin: 50% 50%;
}

figure.ha-effect-lexi:hover img {
	opacity: 0.6;
	transform: translate3d(0,0,0);
}

figure.ha-effect-lexi h2 {
	text-align: left;
	transition: transform 0.35s;
	transform: translate3d(5px,5px,0);
}

figure.ha-effect-lexi p {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 1.5em 1.5em 0;
	width: 140px;
	text-align: right;
	opacity: 0;
	transform: translate3d(20px,20px,0);
}

figure.ha-effect-lexi:hover figcaption::before {
	opacity: 1;
	transform: scale3d(1,1,1);
}

figure.ha-effect-lexi:hover h2,
figure.ha-effect-lexi:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

/*---------------*/
/***** Duke *****/
/*---------------*/

figure.ha-effect-duke {
	background: linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
}

figure.ha-effect-duke figcaption{
	justify-content: flex-end;
}

figure.ha-effect-duke img,
figure.ha-effect-duke p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.ha-effect-duke:hover img {
	opacity: 0.1;
	transform: scale3d(2,2,1);
}

figure.ha-effect-duke h2 {
	transition: transform 0.35s;
	transform: scale3d(0.8,0.8,1);
	transform-origin: 50% 100%;
	margin-bottom: auto;
}

figure.ha-effect-duke p {
	padding: 30px;
	border: 2px solid #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	transform: scale3d(0.8,0.8,1);
	transform-origin: 50% -100%;
	margin-top: auto;
    width: 100%;
}

figure.ha-effect-duke:hover h2,
figure.ha-effect-duke:hover p {
	opacity: 1;
	transform: scale3d(1,1,1);
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}