@import "variables";
@import "mixins";

.ha-image-compare {

	width: 100%;

	@include widgetContainerBase;

	.twentytwenty-container,
	.twentytwenty-wrapper {
		border-radius: inherit;
	}
	.twentytwenty-container img {
		width: 100%;
	}
}
