@import "variables";
@import "mixins";

.ha-image-grid {

	&__wrap {
		overflow: hidden;
	}

	&__item {
		float: left;
		display: block;
		text-decoration: none;
		outline: none;
		overflow: hidden;
		border: 10px solid transparent;
		width: calc(100% / var(--image-grid-column, 4));

		img {
			display: block;
			width: 100%;
			transition: all .25s;
			object-fit: cover;
			border-radius: inherit;
		}
	}

	&--even &__item {
		height: 250px;

		img {
			height: 100%;
		}
	}
}
