// @import "variables";
// @import "mixins";

.ha-ihe-wrapper {
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 100%;
	list-style: none;
	text-align: center;
	.ha-ihe-fig {
		position: relative;
		overflow: hidden;
		margin: 10px 1%;
		height: 100%;
		width: 100%;
		max-height: 360px;
		background: #3085a3;
		text-align: center;
		cursor: pointer;
		.ha-ihe-img {
			position: relative;
			display: block;
			height: 100%;
			width: 100%;
			opacity: 0.8;
			object-fit: cover;
			object-position: center;
		}
		.ha-ihe-caption {
			padding: 2em;
			color: #fff;
			text-transform: uppercase;
			font-size: 1.25em;
			backface-visibility: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&::before {
				pointer-events: none;
			}
			&::after {
				pointer-events: none;
			}
		}
		.ha-ihe-title {
			color: #FFFFFF;
			font-weight: 300;
			margin: 0;
			span {
				font-weight: 800;
			}
		}
		.ha-ihe-desc {
			margin: 0;
			font-size: 16px;
		}
	}
}
.ha-ihe-fig.ha-effect-lily {
	.ha-ihe-img {
		max-width: none;
		width: calc(100% + 50px);
		opacity: 0.7;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-40px,0,0);
	}
	.ha-ihe-caption {
		text-align: left;
		>div {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 2em;
			width: 100%;
			height: 50%;
		}
	}
	.ha-ihe-title {
		transform: translate3d(0,40px,0);
		transition: transform 0.35s;
	}
	.ha-ihe-desc {
		transform: translate3d(0,40px,0);
		color: rgba(255,255,255,0.8);
		opacity: 0;
		transition: opacity 0.2s, transform 0.35s;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
			transition-delay: 0.05s;
			transition-duration: 0.35s;
		}
		.ha-ihe-title {
			transform: translate3d(0,0,0);
		}
	}
}
.ha-ihe-fig.ha-effect-sadie {
	.ha-ihe-caption {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
			content: '';
			opacity: 0;
			transform: translate3d(0,50%,0);
			transition: opacity 0.35s, transform 0.35s;
		}
	}
	.ha-ihe-title {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		color: #484c61;
		transition: transform 0.35s, color 0.35s;
		transform: translate3d(0,-50%,0);
	}
	.ha-ihe-desc {
		transition: opacity 0.35s, transform 0.35s;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 2em;
		width: 100%;
		opacity: 0;
		transform: translate3d(0,10px,0);
	}
	&:hover {
		.ha-ihe-title {
			color: #fff;
			transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}
.ha-ihe-fig.ha-effect-roxy {
	background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
	.ha-ihe-img {
		max-width: none;
		width: calc(100% + 60px);
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-50px,0,0);
	}
	.ha-ihe-caption {
		&::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(-20px,0,0);
		}
		padding: 3em;
		text-align: left;
	}
	.ha-ihe-title {
		padding: 30% 0 10px 0;
	}
	.ha-ihe-desc {
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-10px,0,0);
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.7;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}
.ha-ihe-fig.ha-effect-bubba {
	background: #9e5406;
	.ha-ihe-img {
		opacity: 0.7;
		transition: opacity 0.35s;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.4;
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: scale(1);
			}
			&::after {
				opacity: 1;
				transform: scale(1);
			}
		}
		.ha-ihe-title {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
	.ha-ihe-caption {
		&::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			content: '';
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			transform: scale(0,1);
		}
		&::after {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			content: '';
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			transform: scale(1,0);
		}
	}
	.ha-ihe-title {
		padding-top: 30%;
		transition: transform 0.35s;
		transform: translate3d(0,-20px,0);
	}
	.ha-ihe-desc {
		padding: 20px 2.5em;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0,20px,0);
	}
}
.ha-ihe-fig.ha-effect-romeo {
	perspective: 1000px;
	.ha-ihe-img {
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0,0,300px);
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.6;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 0.5;
				transform: translate3d(-50%,-50%,0) rotate(45deg);
			}
			&::after {
				opacity: 0.5;
				transform: translate3d(-50%,-50%,0) rotate(-45deg);
			}
		}
		.ha-ihe-title {
			transform: translate3d(0,-50%,0) translate3d(0,-100%,0);
		}
		.ha-ihe-desc {
			transform: translate3d(0,-50%,0) translate3d(0,100%,0);
		}
	}
	.ha-ihe-caption {
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 1px;
			background: #fff;
			content: '';
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(-50%,-50%,0);
		}
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80%;
			height: 1px;
			background: #fff;
			content: '';
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(-50%,-50%,0);
		}
	}
	.ha-ihe-title {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transition: transform 0.35s;
		transform: translate3d(0,-50%,0) translate3d(0,-150%,0);
	}
	.ha-ihe-desc {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		transition: transform 0.35s;
		padding: 0.25em 2em;
		transform: translate3d(0,-50%,0) translate3d(0,150%,0);
	}
}
.ha-ihe-fig.ha-effect-layla {
	background: #18a367;
	.ha-ihe-img {
		height: 390px;
		transform: translate3d(0,-30px,0);
		transition: opacity 0.35s, transform 0.35s;
	}
	.ha-ihe-caption {
		padding: 3em;
		&::before {
			position: absolute;
			content: '';
			opacity: 0;
			top: 50px;
			right: 30px;
			bottom: 50px;
			left: 30px;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			transform: scale(0,1);
			transform-origin: 0 0;
			transition: opacity 0.35s, transform 0.35s;
		}
		&::after {
			position: absolute;
			content: '';
			opacity: 0;
			top: 30px;
			right: 50px;
			bottom: 30px;
			left: 50px;
			border-right: 1px solid #fff;
			border-left: 1px solid #fff;
			transform: scale(1,0);
			transform-origin: 100% 0;
			transition: opacity 0.35s, transform 0.35s;
		}
	}
	.ha-ihe-title {
		// padding-top: 26%;
		transition: transform 0.35s;
		transform: translate3d(0,-30px,0);
	}
	.ha-ihe-desc {
		// padding: 0.5em 2em;
		text-transform: none;
		opacity: 0;
		transform: translate3d(0,-10px,0);
		transition: opacity 0.35s, transform 0.35s;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.7;
			transform: translate3d(0,0,0);
			transition-delay: 0.15s;
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: scale(1);
			}
			&::after {
				opacity: 1;
				transform: scale(1);
				transition-delay: 0.15s;
			}
		}
		.ha-ihe-title {
			opacity: 1;
			transform: translate3d(0,0,0);
			transition-delay: 0.15s;
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
			transition-delay: 0.15s;
		}
	}
}
.ha-ihe-fig.ha-effect-honey {
	background: #4a3753;
	.ha-ihe-img {
		opacity: 0.9;
		transition: opacity 0.35s;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.5;
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
		.ha-ihe-title {
			opacity: 1;
			transform: translate3d(0,0,0);
			i {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
	}
	.ha-ihe-caption {
		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 10px;
			background: #fff;
			content: '';
			transform: translate3d(0,10px,0);
			transition: transform 0.35s;
		}
	}
	.ha-ihe-title {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1em 1.5em;
		width: 100%;
		text-align: left;
		transform: translate3d(0,-30px,0);
		transition: transform 0.35s;
		i {
			font-style: normal;
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			transform: translate3d(0,-30px,0);
		}
	}
}
.ha-ihe-fig.ha-effect-oscar {
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
	.ha-ihe-img {
		opacity: 0.9;
		transition: opacity 0.35s;
	}
	.ha-ihe-caption {
		padding: 3em;
		background-color: rgba(58,52,42,0.7);
		transition: background-color 0.35s;
		&::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			transform: scale(0);
		}
	}
	.ha-ihe-title {
		margin: 20% 0 10px 0;
		transition: transform 0.35s;
		transform: translate3d(0,100%,0);
	}
	.ha-ihe-desc {
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: scale(0);
	}
	&:hover {
		.ha-ihe-title {
			transform: translate3d(0,0,0);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: scale(1);
			}
			background-color: rgba(58,52,42,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: scale(1);
		}
		.ha-ihe-img {
			opacity: 0.4;
		}
	}
}
.ha-ihe-fig.ha-effect-marley {
	.ha-ihe-caption {
		text-align: right;
	}
	.ha-ihe-title {
		position: absolute;
		right: 30px;
		left: 30px;
		padding: 10px 0;
		top: 30px;
		transition: transform 0.35s;
		transform: translate3d(0,20px,0);
		&::after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 4px;
			background: #fff;
			content: '';
			transform: translate3d(0,40px,0);
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
		}
	}
	.ha-ihe-desc {
		position: absolute;
		right: 30px;
		left: 30px;
		padding: 10px 0;
		bottom: 30px;
		line-height: 1.5;
		transform: translate3d(0,100%,0);
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
	}
	&:hover {
		.ha-ihe-title {
			transform: translate3d(0,0,0);
			&::after {
				opacity: 1;
				transform: translate3d(0,0,0);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}
.ha-ihe-fig.ha-effect-ruby {
	background-color: #17819c;
	.ha-ihe-img {
		opacity: 0.7;
		transition: opacity 0.35s, transform 0.35s;
		transform: scale(1.15);
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.5;
			transform: scale(1);
		}
		.ha-ihe-title {
			transform: translate3d(0,0,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0) scale(1);
		}
	}
	.ha-ihe-title {
		margin-top: 20%;
		transition: transform 0.35s;
		transform: translate3d(0,20px,0);
	}
	.ha-ihe-desc {
		margin: 1em 0 0;
		padding: 3em;
		border: 1px solid #fff;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0,20px,0) scale(1.1);
	}
}
.ha-ihe-fig.ha-effect-milo {
	background: #2e5d5a;
	.ha-ihe-img {
		max-width: none;
		width: calc(100% + 60px);
		opacity: 1;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-30px,0,0) scale(1.12);
		backface-visibility: hidden;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.5;
			transform: translate3d(0,0,0) scale(1);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
	.ha-ihe-title {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 1em 1.2em;
	}
	.ha-ihe-desc {
		padding: 0 10px 0 0;
		width: 50%;
		border-right: 1px solid #fff;
		text-align: right;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-40px,0,0);
	}
}
.ha-ihe-fig.ha-effect-dexter {
	background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%);
	.ha-ihe-img {
		transition: opacity 0.35s;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.4;
		}
		.ha-ihe-caption {
			&::after {
				transform: translate3d(0,0,0);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
	.ha-ihe-caption {
		&::after {
			position: absolute;
			right: 30px;
			bottom: 30px;
			left: 30px;
			height: calc(50% - 30px);
			border: 7px solid #fff;
			content: '';
			transition: transform 0.35s;
			transform: translate3d(0,-100%,0);
		}
		padding: 3em;
		text-align: left;
		justify-content: flex-start;
	}
	.ha-ihe-desc {
		position: absolute;
		right: 60px;
		bottom: 60px;
		left: 60px;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0,-100px,0);
	}
}
.ha-ihe-fig.ha-effect-sarah {
	background: #42b078;
	.ha-ihe-img {
		max-width: none;
		width: calc(100% + 20px);
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-10px,0,0);
		backface-visibility: hidden;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.4;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-title {
			&::after {
				transform: translate3d(0,0,0);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
	.ha-ihe-caption {
		text-align: left;
		align-items: flex-start;
	}
	.ha-ihe-title {
		position: relative;
		overflow: hidden;
		padding: 0.5em 0;
		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			background: #fff;
			content: '';
			transition: transform 0.35s;
			transform: translate3d(-100%,0,0);
		}
	}
	.ha-ihe-desc {
		padding: 1em 0;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(100%,0,0);
	}
}
.ha-ihe-fig.ha-effect-chico {
	.ha-ihe-img {
		transition: opacity 0.35s, transform 0.35s;
		transform: scale(1.12);
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.5;
			transform: scale(1);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: scale(1);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: scale(1);
		}
	}
	.ha-ihe-caption {
		padding: 3em;
		&::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 1px solid #fff;
			content: '';
			transform: scale(1.1);
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
		}
	}
	.ha-ihe-desc {
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		margin: 0 auto;
		max-width: 200px;
		transform: scale(1.5);
	}
	.ha-ihe-title {
		padding: 20% 0 20px 0;
	}
}
.ha-ihe-fig.ha-effect-julia {
	background: #2f3238;
	.ha-ihe-img {
		max-width: none;
		height: 400px;
		transition: opacity 1s, transform 1s;
		backface-visibility: hidden;
	}
	.ha-ihe-caption {
		text-align: left;
	}
	.ha-ihe-title {
		position: relative;
		padding: 0.5em 0;
	}
	.ha-ihe-desc {
		display: inline-block;
		margin: 0 0 0.25em;
		padding: 0.4em 1em;
		background: rgba(255,255,255,0.9);
		color: #2f3238;
		text-transform: none;
		font-weight: 500;
		font-size: 75%;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-360px,0,0);
		&:first-child {
			transition-delay: 0.15s;
		}
		&:nth-of-type(2) {
			transition-delay: 0.1s;
		}
		&:nth-of-type(3) {
			transition-delay: 0.05s;
		}
	}
	&:hover {
		.ha-ihe-desc {
			&:first-child {
				transition-delay: 0s;
			}
			&:nth-of-type(2) {
				transition-delay: 0.05s;
			}
			&:nth-of-type(3) {
				transition-delay: 0.1s;
			}
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-img {
			opacity: 0.4;
			transform: scale3d(1.1,1.1,1);
		}
	}
}
.ha-ihe-fig.ha-effect-goliath {
	background: #df4e4e;
	.ha-ihe-img {
		transition: transform 0.35s;
		backface-visibility: hidden;
	}
	.ha-ihe-title {
		transition: transform 0.35s;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px;
	}
	.ha-ihe-desc {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px;
		text-transform: none;
		font-size: 90%;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0,50px,0);
	}
	&:hover {
		.ha-ihe-img {
			transform: translate3d(0,-80px,0);
		}
		.ha-ihe-title {
			transform: translate3d(0,-100px,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
}
.ha-ihe-fig.ha-effect-apollo {
	background: #3498db;
	.ha-ihe-img {
		opacity: 0.95;
		transition: opacity 0.35s, transform 0.35s;
		transform: scale3d(1.05,1.05,1);
	}
	.ha-ihe-caption {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255,255,255,0.5);
			content: '';
			transition: transform 0.6s;
			transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
		}
	}
	.ha-ihe-desc {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 3em;
		padding: 0 1em;
		max-width: 150px;
		border-right: 4px solid #fff;
		text-align: right;
		opacity: 0;
		transition: opacity 0.35s;
	}
	.ha-ihe-title {
		text-align: left;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.6;
			transform: scale3d(1,1,1);
		}
		.ha-ihe-caption {
			&::before {
				transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
			}
		}
		.ha-ihe-desc {
			opacity: 1;
			transition-delay: 0.1s;
		}
	}
}
.ha-ihe-fig.ha-effect-moses {
	background: linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
	.ha-ihe-img {
		opacity: 0.85;
		transition: opacity 0.35s;
	}
	.ha-ihe-caption {
		align-items: flex-start;
	}
	.ha-ihe-title {
		padding: 20px;
		width: 50%;
		height: 50%;
		border: 2px solid #fff;
		padding: 20px;
		width: 50%;
		height: 50%;
		text-align: left;
		transition: transform 0.35s;
		transform: translate3d(10px,10px,0);
	}
	.ha-ihe-desc {
		padding: 20px;
		width: 50%;
		height: 50%;
		border: 2px solid #fff;
		float: right;
		padding: 20px;
		text-align: right;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-50%,-50%,0);
	}
	&:hover {
		.ha-ihe-title {
			transform: translate3d(0,0,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(100%,0,0);
		}
		.ha-ihe-img {
			opacity: 0.6;
		}
	}
}
.ha-ihe-fig.ha-effect-jazz {
	background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
	.ha-ihe-img {
		opacity: 0.9;
		transition: opacity 0.35s, transform 0.35s;
	}
	.ha-ihe-caption {
		&::after {
			transition: opacity 0.35s, transform 0.35s;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			content: '';
			opacity: 0;
			transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
			transform-origin: 50% 50%;
		}
	}
	.ha-ihe-desc {
		transition: opacity 0.35s, transform 0.35s;
		opacity: 1;
		transform: scale3d(0.8,0.8,1);
		padding: 0.5em 2em;
		text-transform: none;
		font-size: 0.85em;
		opacity: 0;
	}
	.ha-ihe-title {
		opacity: 1;
		transform: scale3d(0.8,0.8,1);
		transition: transform 0.35s;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.7;
			transform: scale3d(1.05,1.05,1);
		}
		.ha-ihe-caption {
			&::after {
				opacity: 1;
				transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
			}
		}
		.ha-ihe-title {
			opacity: 1;
			transform: scale3d(1,1,1);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: scale3d(1,1,1);
		}
	}
}
.ha-ihe-fig.ha-effect-ming {
	background: #030c17;
	.ha-ihe-img {
		opacity: 0.9;
		transition: opacity 0.35s;
	}
	.ha-ihe-caption {
		&::before {
			position: absolute;
			top: 30px;
			right: 30px;
			bottom: 30px;
			left: 30px;
			border: 2px solid #fff;
			box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
			content: '';
			opacity: 0;
			transition: opacity 0.35s, transform 0.35s;
			transform: scale3d(1.4,1.4,1);
		}
	}
	.ha-ihe-title {
		margin: 20% 0 10px 0;
		transition: transform 0.35s;
	}
	.ha-ihe-desc {
		padding: 1em;
		opacity: 0;
		transition: opacity 0.35s, transform 0.35s;
		transform: scale(1.5);
	}
	&:hover {
		.ha-ihe-title {
			transform: scale(0.9);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: scale3d(1,1,1);
			}
			background-color: rgba(58,52,42,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: scale3d(1,1,1);
		}
		.ha-ihe-img {
			opacity: 0.4;
		}
	}
}
.ha-ihe-fig.ha-effect-lexi {
	background: linear-gradient(-45deg, #000 0%,#fff 100%);
	.ha-ihe-img {
		margin: -10px 0 0 -10px;
		max-width: none;
		width: calc(100% + 10px);
		opacity: 0.9;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(10px,10px,0);
		backface-visibility: hidden;
	}
	.ha-ihe-caption {
		&::before {
			transition: opacity 0.35s, transform 0.35s;
			position: absolute;
			right: -100px;
			bottom: -100px;
			width: 300px;
			height: 300px;
			border: 2px solid #fff;
			border-radius: 50%;
			box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
			content: '';
			opacity: 0;
			transform: scale3d(0.5,0.5,1);
			transform-origin: 50% 50%;
		}
	}
	.ha-ihe-desc {
		transition: opacity 0.35s, transform 0.35s;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0 1.5em 1.5em 0;
		width: 140px;
		text-align: right;
		opacity: 0;
		transform: translate3d(20px,20px,0);
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.6;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-caption {
			&::before {
				opacity: 1;
				transform: scale3d(1,1,1);
			}
		}
		.ha-ihe-title {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: translate3d(0,0,0);
		}
	}
	.ha-ihe-title {
		text-align: left;
		transition: transform 0.35s;
		transform: translate3d(5px,5px,0);
	}
}
.ha-ihe-fig.ha-effect-duke {
	background: linear-gradient(-45deg, #34495e 0%,#cc6055 100%);
	.ha-ihe-caption {
		justify-content: flex-end;
	}
	.ha-ihe-img {
		transition: opacity 0.35s, transform 0.35s;
	}
	.ha-ihe-desc {
		transition: opacity 0.35s, transform 0.35s;
		padding: 30px;
		border: 2px solid #fff;
		text-transform: none;
		font-size: 90%;
		opacity: 0;
		transform: scale3d(0.8,0.8,1);
		transform-origin: 50% -100%;
		margin-top: auto;
		width: 100%;
	}
	&:hover {
		.ha-ihe-img {
			opacity: 0.1;
			transform: scale3d(2,2,1);
		}
		.ha-ihe-title {
			opacity: 1;
			transform: scale3d(1,1,1);
		}
		.ha-ihe-desc {
			opacity: 1;
			transform: scale3d(1,1,1);
		}
	}
	.ha-ihe-title {
		transition: transform 0.35s;
		transform: scale3d(0.8,0.8,1);
		transform-origin: 50% 100%;
		margin-bottom: auto;
	}
}
@media screen and (max-width: 50em) {
	.ha-ihe-wrapper {
		.ha-ihe-fig {
			display: inline-block;
			float: none;
			margin: 10px auto;
			width: 100%;
		}
	}
}