@import "variables";
@import "mixins";

.ha-infobox {
	--ha-infobox-media-offset-x: 0;
	--ha-infobox-media-offset-y: 0;
	--ha-infobox-media-rotate: 0;

	@include widgetContainer {
		padding: 25px;
		@include widgetContainerBaseStyle;
	}
}

body[data-elementor-device-mode="desktop"] {
	.ha-infobox {
		&.ha-infobox-media-dir-left {

			.elementor-widget-container {
				display: flex;

				.ha-infobox-figure {
					margin: 0 25px 0 0 !important;
					align-self: flex-start;
				}
			}
		}

		&.ha-infobox-media-dir-top
		&-body {
			margin-top: var(--ha-infobox-media-offset-y);
		}
	}
}

body[data-elementor-device-mode="tablet"] {
	.ha-infobox {
		&.ha-infobox-media-dir-tablet-left {

			.elementor-widget-container {
				display: flex;

				.ha-infobox-figure {
					margin: 0 25px 0 0 !important;
					align-self: flex-start;
				}
			}
		}

		&.ha-infobox-media-dir-tablet-top
		&-body {
			margin-top: var(--ha-infobox-media-offset-y);
		}
	}
}

body[data-elementor-device-mode="mobile"] {
	.ha-infobox {
		&.ha-infobox-media-dir-mobile-left {

			.elementor-widget-container {
				display: flex;

				.ha-infobox-figure {
					margin: 0 25px 0 0 !important;
					align-self: flex-start;
				}
			}
		}

		&.ha-infobox-media-dir-mobile-top
		&-body {
			margin-top: var(--ha-infobox-media-offset-y);
		}
	}
}

.ha-infobox {

	&-title {
		margin-top: 0;
		margin-bottom: 10px;
		color: #151515;
		font-size: 24px;
	}

	&-figure {
		display: inline-block;
		margin: 0 0 25px !important;
		transform: translate(var(--ha-infobox-media-offset-x), var(--ha-infobox-media-offset-y));

		&--icon {
			font-size: 48px;
			text-align: center;
			line-height: 1;
			transform: translate(var(--ha-infobox-media-offset-x), var(--ha-infobox-media-offset-y)) rotate(var(--ha-infobox-media-rotate));
		}

		i,
		svg {
			width: 1em;
			height: 1em;
			position: relative;
			display: block;
			transform: rotate(calc(-1 * var(--ha-infobox-media-rotate)));
			fill: currentColor;
		}

		i:before {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

		img {
			width: 100%;
			height: 100%;
			vertical-align: bottom;
			object-fit: cover;
		}
	}

	&-text {
		p {
			margin-top: 0;
			margin-bottom: 0;
		}

		&+.ha-btn--link {
			margin-top: 25px;
		}
	}

	.ha-btn {

		&--icon-before .ha-btn-icon,
		&--icon-after .ha-btn-icon {
			transform: translateX(var(--infobox-btn-icon-translate-x, 0));
			transition: inherit;
		}

		&--icon-before:hover .ha-btn-icon,
		&--icon-before:focus .ha-btn-icon {
			transform: translateX(var(--infobox-btn-icon-translate-x-hover, 10px));
		}

		&--icon-after:hover .ha-btn-icon,
		&--icon-after:focus .ha-btn-icon {
			transform: translateX(var(--infobox-btn-icon-translate-x-hover, 10px));
		}
	}
}

.pulse_effect {
	animation: pulse_animation 1.5s infinite;
	box-shadow: 0 0 0 0 var(--pulse-color);
}

@keyframes pulse_animation {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--pulse-color);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px var(--pulse-color);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 var(--pulse-color);
	}
}