@import "variables";
@import "mixins";

.ha-justified-gallery-item {
  &,
  & > img {
    border-radius: 6px;
  }
}

//modified justified gallery css
.ha-justified-gallery {
  .justified-gallery > .ha-justified-gallery-item > .caption {
    padding: 10px;
    bottom: -100px !important;
    transition: all 0.25s !important;
    animation: haSmoothReveal .3s forwards;
  }

  .justified-gallery > .ha-justified-gallery-item > .caption.caption-visible {
    bottom: 0 !important;
  }

  .justified-gallery > .entry-visible > img,
  .justified-gallery > .entry-visible > a > img {
	transition: all 300ms, opacity 500ms ease-in;
	object-fit: cover;
  }
}

@keyframes haSmoothReveal {
  from {
    transform: translateY(100px)
  }

  to {
    transform: translateY(0)
  }
}
