.ha-mailchimp-wrapper {
    .ha-mc-response-message {
        display: none;
        padding: 5px;
        &.error {
            display: block;
            background-color: red;
            color: white;
        }
        &.success {
            display: block;
            background-color: green;
            color: white;
        }
    }

    .ha-mailchimp-form {
        display: flex;
        &.horizontal {
            flex-direction: row;
            .ha-mc-input-wrapper {
                margin: 0 0.5em;
            }
        }
        &.vertical {
            flex-direction: column;
            .ha-mc-input-wrapper {
                margin: 0.5em 0;
            }
        }

        .ha-mc-input-wrapper {
            display: flex;
            flex-direction: column;
        }

        .ha-mc-input {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            input {
                width: 100%;
            }
        }

        .ha-mc-button-wrapper {
            align-self: flex-end;
        }

        .ha-mc-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}