.ha-nav-menu {
    ul.menu {
        list-style: none;
        padding: 0;

        li {

            a {
                display: block;
                padding: 8px 15px;
                color: #000;
                font-size: 15px;
                font-weight: 500;
                text-decoration: none;
            }

            ul.sub-menu {
                list-style: none;
                padding: 0;
            }
        }
    }
}

.ha-navigation-menu-wrapper {
    // .ha-nav-menu
    grid-area: nav-menu;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    .ha-nav-humberger-wrapper {
        display: none;

        .ha-menu-close-icon {
            display: none;
        }
    }

    ul.menu {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-top: 0;
            position: relative;
            display: flex;
            justify-content: space-between;

            a:hover {
                color: #707070;
            }

            ul.sub-menu {
                min-width: 150px;
                position: absolute;
                top:40px;
                left: 0;
                background: #fff;

                li.menu-item-has-children {
                    ul.sub-menu {
                        position: absolute;
                        top: 0;
                        left: 90%;
                        padding: 0;
                        min-width: 150px;
                        background: #fff;
                        list-style-type: none;

                    }
                }
            }

        }

        li.menu-item-has-children .ha-submenu-indicator-wrap {
            text-align: center;
            height: 18px;
            width: 15px;
            margin-top: 13px;
            margin-left: -10px;
            font-size: 18px;
            cursor: pointer;
        }

        li.menu-item-has-children > ul.sub-menu {
            visibility: hidden;
        }

        .menu-item-has-children:hover > .sub-menu {
            visibility: visible;
            opacity: 1;
            transition: all 300ms ease-out;
            width: 220px;
            background-color: #FFF;
            box-shadow: 0 4px 10px -2px #0000001a;
        }

    }

}


//start media here
@media screen and (max-width: 767px) {
    
    .ha-navigation-burger-menu {

        background-color: #fff;

        ul.menu {
            display: none;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            text-align: left;

            li.menu-item:not(:last-child) {
                border-bottom-style: solid;
                border-bottom-color: #c4c4c4;
                border-bottom-width: 1px;
            }

            li.menu-item {
                padding-right: 0 !important;
                margin-right: 0 !important;
            }

            li.menu-item-has-children {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                a {
                    flex: 0 0 90%;
                }
                ul.sub-menu {
                    flex: 0 0 98%;
                    margin: 0 0 0 2%;
                    display: none;
                }
            } 
            
            li.menu-item-has-children .ha-submenu-indicator-wrap {
                text-align: center;
                flex: 0 0 10%;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

        }


        .ha-nav-humberger-wrapper {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
        .ha-nav-humberger-wrapper .ha-menu-open-icon {
            font-size: 22px;
            border: 1px solid #ccc;
            padding: 0px 10px;
            border-radius: 5px;
            color: #7A7A7A;
            font-weight: 400;
            cursor: pointer;
        }

        .ha-nav-humberger-wrapper .ha-menu-close-icon {
            font-size: 22px;
            padding: 0 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #7A7A7A;
            font-weight: 400;
            cursor: pointer;
        }

        .show-icon {
            display: inline-block;
        }
        
        .hide-icon {
            display: none;
        }

    }

    
}