//.ha-news-ticker {
//	display: flex;
//	/*padding-left: 100%;*/
//	overflow: hidden;
//}
.ha-news-ticker-wrapper {
	overflow: hidden;
}
ul.ha-news-ticker-container {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	//transform: translateX(100%);
	//animation: 28479ms linear 0s infinite normal none running slider1;
}
ul.ha-news-ticker-container:hover {
	/* -webkit-animation-play-state: paused; */
	animation-play-state: paused !important;
	/* cursor: pointer; */
}

//.ha-news-ticker-container ul {
//	width: 13190px;
//	display: flex;
//	animation: 200000ms linear 0s infinite normal none running scrollha-horizontalleft8281120;
//}

@keyframes slider1 {
	0% {
		transform: translateX(100%)
	}
	100% {
		transform: translateX(-100%)
	}
}

//ul.ha-news-ticker-container li {
//	padding-left: 1rem;
//	white-space: nowrap;
//}

//ul.ha-news-ticker-container li:first-child {
//	padding-left: 0;
//}

//ul.ha-news-ticker-container li {
//
//	display: inline-block;
//	justify-content: center;
//	align-items: center;
//	flex-direction: column;
//	margin-right: 20px;
//	white-space: nowrap;
//}
ul.ha-news-ticker-container li{
	margin-right: 20px;
	white-space: nowrap;
}

ul.ha-news-ticker-container li:last-child{
	margin-right: 0;
}
