@import "variables";
@import "mixins";

//filter
.ha-post-tab .ha-post-tab-filter {
	padding: 0;
	border-bottom: 1px solid #ddd;
	list-style: none;
}

.ha-post-tab .ha-post-tab-filter li {
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 15px 25px;
	background: #fff;
	color: #333;
	text-decoration: none;
	transition: all .3s;
}

.ha-post-tab .ha-post-tab-filter li:hover,
.ha-post-tab.ha-post-tab-left .ha-post-tab-filter li:hover,
.ha-post-tab .ha-post-tab-filter li.active,
.ha-post-tab.ha-post-tab-left .ha-post-tab-filter li.active {
	background: #6d39ef;
	color: #fff;
	cursor: pointer;
}

//Tab Content
.ha-post-tab .ha-post-tab-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	visibility: hidden;
	opacity: 0;
	height: 0;
	overflow: hidden;
}
.ha-post-tab span.ha-post-tab-loading {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 60px;
	opacity: .5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ha-post-tab .ha-post-tab-item-wrapper.active {
	visibility: visible;
	opacity: 1;
	height: auto;
}

.ha-post-tab .ha-post-tab-item {
	margin-bottom: 30px;
	padding-right: 15px;
	padding-left: 15px;
}

.ha-post-tab .ha-post-tab-item-inner {
	box-sizing: border-box;
	padding: 20px;
	height: 100%;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0 1px 20px rgba(0, 0, 0, .09);
}

.ha-post-tab .ha-post-tab-item-inner .ha-post-tab-thumb {
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}

.ha-post-tab .ha-post-tab-item-inner .ha-post-tab-thumb img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

.ha-post-tab .ha-post-tab-item-inner .ha-post-tab-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 16px;
}

.ha-post-tab .ha-post-tab-item-inner .ha-post-tab-title a {
	color: #333;
	text-decoration: none;
	transition: all .4s;
}

.ha-post-tab .ha-post-tab-meta span a:hover,
.ha-post-tab .ha-post-tab-title a:hover {
	color: #6d39ef;
}

.ha-post-tab .ha-post-tab-meta {
	font-size: 14px;
}

.ha-post-tab .ha-post-tab-meta span {
	display: inline-block;
	margin-top: 10px;
	margin-right: 15px;
	color: #9b9b9b;
	transition: all .4s;
}

.ha-post-tab .ha-post-tab-meta span i {
	padding-right: 5px;
}

.ha-post-tab .ha-post-tab-meta span a {
	color: #9b9b9b;
	text-decoration: none;
	transition: all .4s;
}

.ha-post-tab .ha-post-tab-excerpt p {
	margin: 0;
}

//left filter
.ha-post-tab.ha-post-tab-left,
.ha-post-tab.ha-post-tab-right {
	display: flex;
	flex-wrap: wrap;
}

.ha-post-tab.ha-post-tab-left .ha-post-tab-filter {
	flex: 0 0 200px;
	min-width: 200px;
	border-right: 1px solid #f1f1f1;
	border-bottom: none
}

.ha-post-tab.ha-post-tab-left .ha-post-tab-filter li {
	text-align: left;
}

.ha-post-tab.ha-post-tab-left .ha-post-tab-filter li,
.ha-post-tab.ha-post-tab-right .ha-post-tab-filter li {
	display: block;
	margin: 0;
	text-decoration: none;
	transition: all .3s;
}

.ha-post-tab.ha-post-tab-left .ha-post-tab-content {
	flex: 0 0 calc(100% - 200px);
	min-width: calc(100% - 200px);
	min-height: 100%;
}
//right filter
.ha-post-tab.ha-post-tab-right {
	flex-direction: row-reverse;
}

.ha-post-tab.ha-post-tab-right .ha-post-tab-filter {
	flex: 0 0 200px;
	min-width: 200px;
	border-bottom: none;
	border-left: 1px solid #f1f1f1;
}

.ha-post-tab.ha-post-tab-right .ha-post-tab-filter li {
	text-align: right;
}

.ha-post-tab.ha-post-tab-right .ha-post-tab-content {
	flex: 0 0 calc(100% - 200px);
	min-width: calc(100% - 200px);
	min-height: 100%;
}

@media (max-width: 767px) {
	.ha-post-tab.ha-post-tab-right {
		flex-direction: row-reverse;
	}
	.ha-post-tab.ha-post-tab-left .ha-post-tab-filter,
	.ha-post-tab.ha-post-tab-right .ha-post-tab-filter {
		flex: 0 0 100%;
		min-width: 100%;
		border-bottom: 1px solid #f1f1f1;
		border-right: 0;
		border-left: 0;
	}
	.ha-post-tab.ha-post-tab-left .ha-post-tab-content,
	.ha-post-tab.ha-post-tab-right .ha-post-tab-content {
		flex: 0 0 100%;
		min-width: 100%;
		min-height: 100%;
	}
	.ha-post-tab.ha-post-tab-left .ha-post-tab-filter li,
	.ha-post-tab.ha-post-tab-right .ha-post-tab-filter li {
		display: inline-block;
	}
}

