@import "variables";
@import "mixins";

.ha-review {
	--ha-review-media-offset-x: calc(1px - 1px);
	--ha-review-media-offset-y: calc(1px - 1px);

	--ha-review-left-body-width: calc(100% - var(--ha-review-media-width) + (-1 * var(--ha-review-media-offset-x)));
	--ha-review-right-body-width: calc(100% - var(--ha-review-media-width) + (var(--ha-review-media-offset-x)));

	@include widgetContainerBase;
	&:not(:has(.elementor-widget-container)) {
		@include widgetContainerBaseStyle;
	}

	&-header {
		margin-top: 25px;
	}

	&-figure {
		margin: 0;
		flex: 0 0 var(--ha-review-media-width, 70px);
		max-width: var(--ha-review-media-width, 70px);
		transform: translate(var(--ha-review-media-offset-x), var(--ha-review-media-offset-y));

		img {
			height: 100%;
			width: 100%;
			border-radius: 50%;
			vertical-align: bottom;
			object-fit: cover;
		}
	}

	&-reviewer {
		margin-top: 0;
		margin-bottom: 10px;
		color: #151515;
		font-size: 18px;
	}

	&-position {
		color: #7f7f7f;
		font-size: 15px;
		margin-bottom: 10px;
	}

	&-ratting {
		display: inline-block;
		font-size: 12px;
		line-height: 1;
	}

	&-ratting--num {
		background-color: $primary-color;
		color: #fff;
		padding: 5px 10px;
		border-radius: 20px;
	}

	&-ratting--star {
		color: #ffbf36;
	}

	&-desc {
		margin-top: 25px;
		font-size: 16px;
		line-height: 1.6;

		p {
			margin: 0;
		}
	}

	&--top {
		@include widgetContainer {
			padding: 25px;
		}
		&:not(:has(.elementor-widget-container)){
			padding: 25px;
		}

		.ha-review-figure {
			display: inline-block;
			height: 70px;
		}

		.ha-review-body {
			margin-top: var(--ha-review-media-offset-y);
		}
	}

	&--left,
	&--right {
		--ha-review-media-width: 150px;

		@include widgetContainer {
			display: flex;
			align-items: center;
		}

		&:not(:has(.elementor-widget-container)) {
			display: flex;
			align-items: center;
		}

		.ha-review {
			&-figure {
				height: 150px;
			}

			&-body {
				padding: 25px;

				> :first-child {
					margin-top: 0;
				}
			}
		}
	}

	&--left {
		@include widgetContainer {
			flex-direction: row;
			padding-left: 25px;
		}

		&:not(:has(.elementor-widget-container)){
			flex-direction: row;
			padding-left: 25px;
		}

		.ha-review {
			&-body {
				flex: 0 0 var(--ha-review-left-body-width);
				max-width: var(--ha-review-left-body-width);
				margin-left: var(--ha-review-media-offset-x);
			}
		}
	}

	&--right {
		@include widgetContainer {
			flex-direction: row-reverse;
			padding-right: 25px;
			text-align: right;
		}

		&:not(:has(.elementor-widget-container)) {
			flex-direction: row-reverse;
			padding-right: 25px;
			text-align: right;
		}

		.ha-review {
			&-body {
				flex: 0 0 var(--ha-review-right-body-width);
				max-width: var(--ha-review-right-body-width);
				margin-right: calc(-1 * var(--ha-review-media-offset-x));
			}
		}
	}
}
