@import "variables";
@import "mixins";

.ha-skills {
  @include widgetContainer {
    padding-top: 1px;
  }
}

.ha-skill {
  display: flex;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 15px;

  &--outside,
  &--inside {
    .ha-skill-info {
      font-size: 14px;
      text-align: left;
    }

    .ha-skill-level-text {
      float: right;
    }
  }

  &--outside {
    height: 2px;

    .ha-skill-level {
      position: relative;
    }

    .ha-skill-info {
      position: absolute;
      width: 100%;
      top: -25px;
      color: #242424;
    }
  }

  &--inside {
    height: 30px;

    .ha-skill-info {
      padding-right: 1rem;
      padding-left: 1rem;
      color: #fff;
    }
  }

  &-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: $primary-color;
    transition: width .6s ease;
    border-radius: inherit;
    width: 10%;
  }

  &--outside {
    margin-top: 40px;
  }

  &--inside:not(:first-child) {
    margin-top: 20px;
  }
}
