.ha-social-share {

	.ha-share-buttons {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 0;
	}

	.ha-share-buttons li {
		display: inline-block;
	}

	.ha-share-button .ha-share-network {
		display: inline-flex;
		flex: 1;
		align-items: center;
		color: #fff;
		background-color: #5636d1;
		padding: 15px 20px;
		cursor: pointer;
		transition: all 0.3s;

		i {
			width: 1em;
			height: 1em;
		}
	}

	.ha-share-button .ha-share-network:hover {
		background-color: #e2498a;
		color: #fff;
	}

	.ha-share-label {
		padding-left: 10px;
	}

	&.ha-display-inline {
		.ha-share-button {
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&.ha-display-block {
		.ha-share-button {
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.ha-display-block.ha-alignment-left {
		.ha-share-buttons {
			align-items: flex-start;
		}
	}
	&.ha-display-block.ha-alignment-center {
		.ha-share-buttons {
			align-items: center;
		}
	}
	&.ha-display-block.ha-alignment-right {
		.ha-share-buttons {
			align-items: flex-end;
		}
	}

	&.ha-display-inline.ha-alignment-left {
		.ha-share-buttons {
			justify-content: flex-start;
		}
	}
	&.ha-display-inline.ha-alignment-center {
		.ha-share-buttons {
			justify-content: center;
		}
	}
	&.ha-display-inline.ha-alignment-right {
		.ha-share-buttons {
			justify-content: flex-end;
		}
	}

	&.ha-separator-yes {
		.ha-share-network i {
			margin-right: 10px;
		}
		.ha-share-label {
			border-left: 1px solid #fff;
		}
	}

}