.ha-social-share {

	.ha-share-buttons {
		display: block;
		list-style: none;
		padding: 0;
	}

	.ha-share-buttons .ha-share-button {
		display: inline-block;
		margin: 0 10px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	.ha-share-button .ha-share-network {
		display: inline-flex;
		flex: 1;
		align-items: center;
		color: #fff;
		background-color: #5636d1;
		padding: 15px 20px;
		cursor: pointer;
		transition: all 0.3s;

		i {
			width: 1em;
			height: 1em;
		}
	}

	.ha-share-button .ha-share-network:hover {
		background-color: #e2498a;
		color: #fff;
	}

	.ha-share-label {
		padding-left: 10px;
	}

	&.ha-separator-yes {
		.ha-share-network i {
			margin-right: 10px;
		}
		.ha-share-label {
			border-left: 1px solid #fff;
		}
	}

}