@import "variables";
@import "mixins";

.ha-social-icons-wrapper {
	display: inline-flex;
	align-items: center;
}

.ha-social-icons-wrapper a {
	display: inline-flex;
	font-size: 30px;
	align-items: center;
	color: #fff;
	padding: 15px;
	border-radius: 4px;
	transition: all 0.3s;
}

a.ha-social-icon:hover {
	position: relative;
	background: #E2498A;
	z-index: 1;
}

a.ha-social-icon:before,
a.ha-social-icon:after {
	border-radius: inherit;
}

.ha-social-icons-wrapper a.elementor-social-icon-label {
	color: #d30c5c;
}

.ha-social-icon:not(:last-child) {
	margin-right: 2px;
}

.ha-social-icon i, .ha-social-icon svg {
	position: relative;
	display: initial;
	width: 1em;
	height: 1em;
}

.ha-social-icon-label {
	line-height: 1;
	font-size: 18px;
	margin: 0;
	width: 100%;
	height: 100%;
	margin-left: 10px;
}

.elementor-social-icon-label .ha-social-icon-label {
	margin-left: 0;
}

.elementor-element-edit-mode .ha-social-icon-sticky {
	z-index: 9999;
}

.ha-social-icons:not(.elementor-element-edit-mode) .ha-social-icon-sticky {
	position: fixed;
}

.ha-social-icon-separator {
	margin-right: 10px;
}

.ha-separator--stroke .ha-social-icon-separator {
	width: 1px;
	height: 1em;
	background: #d30c5c;
}

.ha-separator--custom .ha-social-icon-separator {
	color: #d30c5c;
	font-size: 24px;
}

.ha-social-icon-separator:last-child {
	display: none;
}
