@import "variables";
@import "mixins";

.ha-step-flow {
	@include widgetContainer {
		text-align: center;
		padding: 25px;
	}

	--ha-stepflow-direction-origin-x: calc(-1 * ((var(--ha-stepflow-icon-size, 46px) / 2) + var(--ha-stepflow-icon-padding, 40px) + var(--ha-stepflow-direction-offset-x, 20px)));
}

.ha-step-arrow {
	position: absolute;
	top: 49%;
	left: calc(100% + 20px);
	display: inline-block;
	width: 100px;
	border-top: 1px solid #ddd;
	transform-origin: var(--ha-stepflow-direction-origin-x) center;
	transform: rotate(var(--ha-stepflow-direction-angle, 0));

	&:after {
		position: absolute;
		top: -2px;
		right: 5px;
		color: #ddd;
		content: "";
		display: inline-block;
		width: 12px;
		height: 12px;
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
		transform: rotate(45deg) translateY(-50%);
	}
}

.ha-steps-icon {
	display: inline-block;
	margin-bottom: 2rem;
	border-radius: 50%;
	color: #8056EE;
	background-color: #e9ecf0;
	text-align: center;
	position: relative;
	padding: 40px;
	font-size: 46px;

	i,
	svg {
		width: 1em;
		height: 1em;
		display: block;
		position: relative;
		fill: currentColor;
	}

	i:before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.ha-steps-label {
		position: absolute;
		top: 5px;
		right: 0;
		background-color: #8056EE;
		color: #fff;
		padding: 8px 10px;
		border-radius: 20px;
		font-size: 12px;
		line-height: 1;
		border: 3px solid #fff;
		max-width: 200%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

.ha-steps-title {
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
}

.ha-steps-title a {
	color: $primary-color;
	display: block;
}

.ha-steps-title a:hover {
	color: #242424;
}

.ha-step-description {
	color: #616161;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
}
