.ha-text-scroll {
	background: #FFFFFF;
	color: #000000;

	.ha-split-lines {
		display: block;
		margin: 0 auto;
		font-size: clamp(28px, 4.5vw, 300px);
		line-height: 1.2;
	}

	.ha-line-mask {
		position: absolute;
		top: 0;
		right: 0;
		background: #FFFFFF;
		height: 100%;
		width: 100%;
		z-index: 2;
	}

	.line {
		position: relative;
		color: #000000;
		transition: all 0.6s ease-in-out;
	}

	.word {
		.char {
			opacity: 0.2;
		}
	}

	.line.highlight .word {
		opacity: 1 !important;
		transition: all 0.6s ease-in-out;
	}

	.mask-active.line {
		opacity: 1 !important;
		color: #000000;
	}

}