.ha-text-scroll {
	background: #262626;
	color: #31302f;
	padding: 50px 15px;

	.ha-split-lines {
		display: block;
		margin: 0 auto;
		font-size: clamp(28px, 4.5vw, 300px);
		line-height: 1.2;
	}

	.line {
		position: relative;
		opacity: 0.1;
		color: #f8ebd3;
		transition: all 0.6s ease-in-out;
	}

	.line.highlight {
		opacity: 1;
		transition: all 0.6s ease-in-out;
	}
}