.happy-settings {
    padding: 15px;
}
.happy-settings .ha-settings-tab {
    background-color: #fff;
    position: relative;
    padding: 10px;
}
.happy-settings .row {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.happy-settings .ha-container {
    width: 100%;
    height: auto;
}
.happy-settings .ha-container p.ha-elements-control-notice {
    margin: 10px 0 10px 10px;
}
.happy-settings #widgets .checkbox-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.happy-settings #widgets .ha-checkbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 250px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin: 10px 40px 10px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 6px 3px rgba(80,80,80,0.1);
}


.ha-checkbox label {
    padding: 20px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}
.ha-checkbox label:after {
    width: 25px;
    height: 25px;
    content: "";
    border: 2px solid #d1d7dc;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 1px 2px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
}
.ha-checkbox input:checked ~ label {
    color: #222;
}
.ha-checkbox input:checked ~ label:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    opacity: 1;
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    background-position: -2px 5px;
    left: 77%;
    top: 22%;
    z-index: 99;
}
.ha-checkbox input:checked ~ label:after {
    background: linear-gradient(90deg, #e2498a 0%, #562dd4 100%);
    border: none;
    padding: 4px;
}
.ha-checkbox input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
}

/*  save button */
.ha-button-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.brand {
    font-size: 22px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    margin: 0px;
    background: linear-gradient(90deg, #e2498a 0%, #562dd4 100%);
    padding: 10px;
}
button.ha-save-button {
    padding: 12px 18px;
    border-radius: 4px;
    border: none;
    background-color: #e2498a;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
}
button.ha-save-button:hover {
    background-color: #562dd4;
}
