@import "../../sass/variables";

.ha-btn {
  padding: 0.95rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  font-weight: bold;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    background-color: #b3b3b3;
    box-shadow: none;
    opacity: .7;
    cursor: not-allowed;
  }
}

.ha-btn-primary {
  background: #5e3bc4;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background: darken(#5e3bc4, 10%);
  }
}

.ha-btn-secondary {
  background: #e2498a;
  color: #fff;

  &:hover,
  &:focus {
    color: #fff;
    background: darken(#e2498a, 10%);
  }
}

#wp-admin-bar-happy-addons>.ab-item>img {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  margin-top: -4px;
}

#wp-admin-bar-happy-addons .ab-item .dashicons {
  display: inline-block;
  font-family: dashicons;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 7px;
  position: relative;
}

#wp-admin-bar-happy-addons .ab-item .dashicons-update-alt:before {
  content: "\f113";
}

#wp-admin-bar-happy-addons .ha-clear-cache--done .ab-item>i {
  color: #46b450;
}

#wp-admin-bar-happy-addons .ha-clear-cache--init .ab-item>i {
  animation: ha-inifinite-rotate .5s infinite linear;
}

@keyframes ha-inifinite-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


.void-review {
  color: #fff;
  background-position: top;
  border: none;
  border-radius: 2px;
  padding: 15px 20px;
  background: linear-gradient(90deg, rgba(200, 73, 147, 1) 0%, rgba(105, 57, 198, 1) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.ha-review-notice {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
  background: var(--e-notice-bg);
  border: 1px solid var(--e-notice-border-color);
  border-inline-start-width: 4px;
  -webkit-box-shadow: var(--e-notice-box-shadow);
  box-shadow: var(--e-notice-box-shadow);
  margin: 5px 20px 5px 2px;

  &.notice {
    padding: 0;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    left: -4px;
    top: -1px;
    bottom: -1px;
    width: 4px;
    background: linear-gradient(0deg, rgba(200, 73, 147, 1) 0%, rgba(105, 57, 198, 1) 100%);
  }

  &--extended {
    --e-notice-is-extended: 1
  }

  &--dismissible {
    padding-right: 38px
  }

  &__aside {
    overflow: hidden;
    background: linear-gradient(0deg, rgba(200, 73, 147, 0.16) 0%, rgba(105, 57, 198, 0.16) 100%);
    width: calc(var(--e-notice-is-extended, 0) * 50px);
    text-align: center;
    padding-top: 15px;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    margin: auto;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: #5e3bc4;
    color: #fff;
    text-shadow: 0 0 3px var(--e-notice-context-color-dark), 0 0 1px var(--e-notice-context-color-dark), 0 0 1px var(--e-notice-context-color-dark);

    img {
      height: 16px;
      width: 16px;
    }
  }

  &__content {
    padding: 20px
  }

  &__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }

  &__actions>*+* {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px
  }

  &__dismiss {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .8125rem;
    text-align: center;
    background: none;
    display: block;
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    cursor: pointer;
    font-style: normal;

    &:before {
      font-family: eicons;
      display: inline-block;
      content: "\e87f";
      color: var(--e-notice-dismiss-color);
      width: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      speak: none;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:active:before,
    &:focus:before,
    &:hover:before {
      font-weight: 700;
    }

    &:focus:before {
      color: #fff;
      background: var(--e-notice-dismiss-color);
      outline: none
    }

    &:focus {
      outline: none
    }
  }

  p {
    line-height: 1.2;
    padding: 0;
    margin: 0
  }

  p+&__actions {
    margin-top: 1rem
  }

  h3 {
    font-size: 1.0625rem;
    line-height: 1.2;
    margin: 0
  }

  h3+p {
    margin-top: 8px
  }
}

.ha-review-button {
  display: inline-block;
  font-weight: var(--e-button-font-weight);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  border: 0;
  text-decoration: none;
  background: var(--e-button-context-color);
  padding: var(--e-button-padding-y) var(--e-button-padding-x);
  font-size: var(--e-button-font-size);
  line-height: var(--e-button-line-height);
  -webkit-border-radius: var(--e-button-border-radius);
  border-radius: var(--e-button-border-radius);
  -webkit-transition: background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;

  &:active {
    color: #fff;
    text-decoration: none;
    background: var(--e-button-context-color-dark);
  }

  &:focus {
    color: #fff;
    text-decoration: none;
    background: var(--e-button-context-color-dark);
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px var(--e-focus-color);
    box-shadow: 0 0 0 2px var(--e-focus-color);
  }

  &:hover {
    color: #fff;
    text-decoration: none;
    background: var(--e-button-context-color-dark);
  }

  &:disabled {
    opacity: .5;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:not(:disabled) {
    &:not(.disabled) {
      cursor: pointer;

      &:active {
        &:focus {
          -webkit-box-shadow: 0 0 0 2px var(--e-focus-color);
          box-shadow: 0 0 0 2px var(--e-focus-color);
        }
      }
    }

    &:not(.disabled).active {
      &:focus {
        -webkit-box-shadow: 0 0 0 2px var(--e-focus-color);
        box-shadow: 0 0 0 2px var(--e-focus-color);
      }
    }
  }
}

.ha-review-button.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px var(--e-focus-color);
  box-shadow: 0 0 0 2px var(--e-focus-color);
}

.ha-review-button.disabled {
  opacity: .5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ha-review-button--cta {
  --e-button-context-color: #5e3bc4;
  --e-button-context-color-dark: #4b2f9d;
  --e-button-context-tint: rgb(75 47 157 / 4%);
  --e-focus-color: rgb(75 47 157 / 40%);
}

.ha-review-button--error {
  --e-button-context-color: var(--e-context-error-color);
  --e-button-context-color-dark: var(--e-context-error-color-dark);
  --e-button-context-tint: var(--e-context-error-tint-1);
  --e-focus-color: var(--e-context-error-tint-4)
}

.ha-review-button.ha-review-button--outline {
  color: var(--e-button-context-color);
  background: none;
  border: 1px solid;

  &:focus {
    color: var(--e-button-context-color-dark);
    background: var(--e-button-context-tint);
  }

  &:hover {
    color: var(--e-button-context-color-dark);
    background: var(--e-button-context-tint);
  }

  &:disabled {
    color: var(--e-button-context-color-dark);
    background: #818a91;
  }
}

.ha-review-button.ha-review-button--outline.disabled {
  color: var(--e-button-context-color-dark);
  background: #818a91;
}

#happy_addons_news_update {
  .ha-setup--wrap {
    padding: 12px;
    margin: -12px -12px 0;
    border-bottom: 1px solid #eee;

    .setup-wizard-finish-setup .progress-wrapper {
      border: 1px solid #757575;
      border-radius: 16px;
      font-size: .9em;
      padding: 2px 8px 2px 8px;
      display: inline-block;
      box-sizing: border-box
    }

    .setup-wizard-finish-setup .progress-wrapper span {
      position: relative;
      top: -3px;
      color: #757575
    }

    .setup-wizard-finish-setup .description {
      display: flex;
      align-items: center;
    }

    .setup-wizard-finish-setup .description h4 {
      font-weight: bold;
    }

    .setup-wizard-finish-setup .description p {
      margin-top: 0px;
    }

    .setup-wizard-finish-setup .description div {
      float: left;
      width: 70%
    }

    .setup-wizard-finish-setup .description img {
      float: right;
      padding-left: 26px;
      width: 25%;
    }

    .setup-wizard-finish-setup .description a {
      background: #e2498a;
      color: #fff;
      border: none;
    }

    .setup-wizard-finish-setup .description a:hover {
      background: #d6226e;
    }
  }

  .ha-overview--banner {
    width: 100%;
  }

  .ha-divider-bottom {
    border-bottom: 1px solid #eee;
    margin: 0 -12px;
  }

  .ha-instruction {
    padding: 10px 10px;
  }

  .ha-overview__post {
    &:hover {
      text-decoration: underline;
    }

    margin-bottom: 10px;
  }

  .ha-overview__post-link {
    font-weight: 500;
  }

  .ha-divider-top {
    border-top: 1px solid #eee;
    margin: 0 -12px;
  }

  .ha-overview__footer {
    padding: 10px 6px 0 8px;
  }

  .ha-overview__footer {
    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li:not(:first-of-type) {
        border-left: 1px solid #ddd;
        padding-left: 4px;
        margin-right: 4px;
      }

      li:first-of-type {
        margin-right: 4px;
      }
    }
  }
}

#ha-admin-top-bar-root {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 4px 6px rgba($color: #000000, $alpha: 0.04);
  top: 0;
  width: calc(100% - 160px);
  z-index: 1;
  border-bottom: 1px solid #c3c4c7;
}

.ha-admin-top-bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  &__main-area,
  &__heading {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    margin-inline-end: 40px;
  }

  &__main-area-buttons {
    .page-title-action {
      background: #f7f7f7;
      border: 1px solid #0275d8;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #0275d8;
      cursor: pointer;
      display: inline-block;
      line-height: 30px;
      margin: 0 4px;
      min-height: 30px;
      padding: 0 10px;
      text-decoration: none;

      &:hover {
        background: #eceeef;
        border-color: #1b607f;
        color: #1b607f;
      }
    }
  }

  &__heading-logo {
    width: 30px;
    background: linear-gradient(45deg, rgba(200, 73, 147, 1) 0%, rgba(105, 57, 198, 1) 100%);
    -webkit-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    width: 1.875rem;

    svg {
      height: 20px;
      width: auto;
    }
  }

  &__heading-title {
    color: #495157;
    font-size: 15px;
    font-weight: 600;
    font-family: Roboto, Arial, Helvetica, Verdana, sans-serif;
    padding: 0 8px;
    line-height: normal;
  }
}

.ha-logo-wrapper {
  width: 30px;
  background: linear-gradient(45deg, rgba(200, 73, 147, 1) 0%, rgba(105, 57, 198, 1) 100%);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  text-align: center;
  width: 1.875rem;

  svg {
    height: 20px;
    width: auto;
  }
}

.post-type-ha_library {
  #wpbody-content {
    margin-top: 50px;
  }

  #wpbody .wrap {
    clear: both;
    padding-top: 10px;
  }

  #wpbody .wrap h1 {
    display: none;
  }

  .wrap .wp-heading-inline+.page-title-action {
    display: none;
  }

  .wp-heading-inline,
  .wp-heading-inline+a {
    display: none !important;
  }
}

#elementor-new-template__form .elementor-form-field .select2:not(:focus) {
  border-color: #d5dadf;
}

.elementor-form-field__select__wrapper {
  .select2 {
    width: 100% !important;
    max-width: 330px !important;
    min-height: 50px;
    padding: 5px 0px;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: none;
    color: #495157;
    border: 1px solid;
    outline: none;

    .select2-selection--multiple {
      border: none !important;
      display: flex;
    }
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    margin: 0;
  }

  .select2-container .select2-search--inline .select2-search__field {
    height: 21px;
    border-radius: 0;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e3e3e3;
    border: none;
    padding-left: 0px;

    &:hover {
      .select2-selection__choice__remove {
        display: block;
      }
    }
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: #999;
    height: 21px;
    border: none;
    width: 21px;
    border-radius: 4px;
    color: #fff;
    left: 0px;
    line-height: 1;
    display: none;

    &:hover {
      background-color: #6a6a6a;
      color: #fff;
    }
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
}


/**************************\
  Micro Modal
\**************************/

.modal {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #f1f3f5;
  max-width: 460px;
  width: 100%;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 2px 8px 23px 3px rgb(0 0 0 / 20%);
}

.modal__header,
.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 0 8px rgb(0 0 0 / 10%);
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #495157;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
  border-left: 1px solid #e6e9ec;
  padding-left: 10px;
  cursor: pointer;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  padding: 15px 30px;
  line-height: 1.5;
  box-sizing: border-box;
}

.modal__content .settings_title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25;
  color: #495157;
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;

  &.save {
    background-color: #39b54a;
  }
}

.modal__btn:focus,
.modal__btn:hover {
  // -webkit-transform: scale(1.05);
  // transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #39b54a;
  color: #fff;

  &:hover,
  &:focus {
    background-color: darken($color: #39b54a, $amount: 10);
  }
}

.modal__btn-secondary {
  background-color: $primary-color;
  color: #fff;

  &:hover,
  &:focus {
    background-color: $secondary-color;
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/**************************\
  Button Style
\**************************/

.ha-template-form {
  &-input-group {
    margin-bottom: 16px;
  }

  &-field__select__wrapper {
    select {
      width: 100%;
    }

    .select2-container {
      width: 100% !important;
      outline: none;
      font-size: 12px;

      .e-select2-placeholder {
        color: #a4afb7;
      }

      &.select2-container--default {

        .select2-selection--single {
          height: 27px;

          .select2-selection__rendered {
            color: #6d7882;
            line-height: 27px;
          }
        }

        .select2-selection--multiple {
          min-height: 27px;
          line-height: 0;

          .select2-selection__clear {
            display: none;
          }

          .select2-selection__choice {
            background-color: #f1f3f5;
            line-height: 1.2;
            font-size: 10px;
            border: none;
            border-radius: 2px;
            padding: 2px 3px;
            display: inline-flex;

            &.select2-selection__e-plus-button {
              cursor: pointer;
              width: 16.67px;
              text-indent: -9999px;
              position: relative;

              &:after {
                content: '\e815';
                font-family: "eicons";
                color: #a4afb7;
                text-indent: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

              }
            }
          }

          .select2-selection__rendered {
            padding-bottom: 5px;
          }

          .select2-selection__choice__remove {
            color: #a4afb7;
            margin-right: 3px;
            padding-bottom: 2px;
            position: unset;
          }
        }
      }

      &:not(.select2-container--open):not(.select2-container--focus) {

        .select2-selection--single,
        .select2-selection--multiple {
          border-color: #8c8f94;
        }
      }

      &.select2-container--open,
      &.select2-container--focus {

        .select2-selection--single,
        .select2-selection--multiple {
          border-color: #8c8f94;
        }
      }
    }

    .select2-selection {
      outline: none;

      &--single {
        height: 27px;
      }
    }

    .select2-selection__arrow {
      height: 27px;
      top: 0;
    }

    .select2-results__option[aria-selected=true] {
      color: #495157;

      &:not(.select2-results__option--highlighted) {
        background-color: initial;
      }
    }

    .select2-dropdown {
      border-color: #a4afb7;

      .select2-search__field {
        outline: none;
      }
    }
  }

  &-field__switch__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.ha-toggle {
  display: block;
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 100px;
  background-color: #e8e8e8;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);

  &__check,
  &__switch,
  &__track {
    position: absolute;
    display: block;
  }

  &__check {
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;

    &:disabled,
    &.disabled {
      opacity: 0;
      z-index: 0;
    }
  }

  &__check:checked~.ha-toggle__track {
    box-shadow: inset 0 0 0 20px $primary-color;
  }

  &__check:checked~.ha-toggle__switch {
    right: 2px;
    left: 18px;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0.05s, 0s;
  }

  &__switch {
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 18px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-property: left, right;
    transition-delay: 0s, 0.05s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  &__track {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.01);
    border-radius: 40px;
  }
}