$primary-color: #562dd4;
$secondary-color: #e8357c;

.elementor-panel {

	#elementor-panel-category-happy_addons_category .elementor-element,
	#elementor-panel-category-happy_addons_pro_category .elementor-element,
	#elementor-panel-category-happy_addons_pro_category .is-ha-widget {

		&:hover,
		&:focus {
			.icon,
			.title {
				background-image: linear-gradient(135deg, #A799FF 25%, #A799FF 100%);
			}
		}
	}

	.ha-section-icon {
		background-image: linear-gradient(135deg, #ffffff 25%, #ffffff 100%);
	}

	.elementor-element {

		&:hover,
		&:focus {
			.icon {
				.hm:after {
					background-image: linear-gradient(135deg, #A799FF 25%, #A799FF 100%);
				}
			}
		}
	}
}

.haTemplateLibrary__logo-wrap {
	background-color: $secondary-color;
}

#haTemplateLibrary__filter-tags {
	background-color: #26292C;

	&:before {
		border-bottom-color: #26292C;
	}
}

.haTemplateLibrary__template,
.haTemplateLibrary__template-footer {
	background-color: #f5f5f5;
}

.haTemplateLibrary__responsive-menu-item {
	&.elementor-active {
		background-image: linear-gradient(to bottom, #26292C, #34383C);
		border-bottom-color: $secondary-color;
	}
}