$primary-color: #562dd4;
$secondary-color: #e8357c;

.haTemplateLibrary__preview {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: auto;
	transition: width .2s, height .2s;
}

.haTemplateLibrary__preview > iframe {
	height: 150%;
	width: 150%;
    transform: scale(0.666) translateX(-25%) translateY(-25%);
}

.haTemplateLibrary__logo-wrap {
	margin-right: 10px;
	display: inline-block;
	width: 30px;
    height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 100%;
	color: #fff;
	background-color: $primary-color;
}

.haTemplateLibrary__logo-wrap > i {
	position: relative;
    top: 1px;
}

.haTemplateLibrary__logo-title {
	padding-top: 2px;
}

.haTemplateLibrary__responsive-menu-item {
	display: inline-block;
    padding: 15px 0;
    width: 40px;
	cursor: pointer;

	&.elementor-active {
		background-image: linear-gradient(to bottom, #f1f3f5, #fff);
		border-bottom: 3px solid $primary-color;
	}
}

.haTemplateLibrary__header-menu .elementor-template-library-menu-item.elementor-active {
	border-bottom-color: $primary-color;
}

#haTemplateLibrary__toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#haTemplateLibrary__toolbar-search,
#haTemplateLibrary__toolbar-filter {
	width: 200px;
    position: relative;
}

#haTemplateLibrary__toolbar-search i,
.haTemplateLibrary__filter-btn i {
	position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.haTemplateLibrary__filter-btn {
	text-align: left;
	cursor: pointer;
	display: block;
}

#haTemplateLibrary__search {
	border: none;
}

#haTemplateLibrary__search,
.haTemplateLibrary__filter-btn {
    border-bottom: 1px solid #d5dadf;
    border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
    padding: 8px 15px 8px 0;
}

#haTemplateLibrary__filter-tags {
	padding: 10px;
	margin-top: 10px;
	position: absolute;
    top: 100%;
    left: 0;
    width: 270%;
    z-index: 999;
	background-color: #fff;
	border-radius: 0 2px 2px;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	display: none;

	> li {
		padding: 10px;
		float: left;
		text-align: left;
		width: calc(100% / 4);
		text-transform: capitalize;
		cursor: pointer;

		&:hover,
		&.active {
			color: $secondary-color;
		}
	}

	&:before {
		content: " ";
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 0;
		height: 0;
		border: solid transparent;
		border-width: 0px 10px 10px 0;
		border-bottom-color: #fff;
		pointer-events: none;
	}
}

#haTemplateLibrary__templates {
	height: calc(100% + 30px);
}

.haTemplateLibrary__templates-window {
	height: calc(100% - 45px);
	margin: 10px -15px 0;
	overflow-y: auto;
	position: relative;
}

#haTemplateLibrary__templates-list {
    display: flex;
    flex-wrap: wrap;
	align-items: flex-start;
}

.haTemplateLibrary__template {
	.haTemplateLibrary__templates--section & {
		width: calc(33.333% - 30px);
	}

	.haTemplateLibrary__templates--page & {
		width: calc(25% - 30px);
	}

	position: relative;
    overflow: hidden;
	margin: 15px;
    background-color: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.07);
	border-radius: 2px;

	&-body {
		position: relative;
	}

	&-preview {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		transition: opacity .5s;
		cursor: pointer;

		i {
			font-size: 20px;
			color: #d5dadf;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&-badge {
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		padding: 2px 4px;
		background-color: $secondary-color;
		color: #fff;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: .5px;
		border-radius: 2px;
	}

	&:hover &-preview {
		opacity: 1;
	}

	&-thumbnail {
		display: block;
    	width: 100%;
	}

	&-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 11px;
		line-height: 1;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 10px;
		background-color: #fff;
		transform: translateY(100%);
		transition: transform .5s;
	}

	&:hover &-footer {
		transform: translateY(0);
	}

	.haTemplateLibrary__pro-button {
		color: $secondary-color;

		&:hover,
		&:focus {
			color: lighten($secondary-color, 10%);
		}
	}

	.haTemplateLibrary__insert-button {
		color: $primary-color;

		&:hover,
		&:focus {
			color: lighten($primary-color, 10%);
		}
	}

	.haTemplateLibrary__preview-button {
		color: #495157;

		&:hover,
		&:focus {
			color: lighten(#495157, 10%);
		}
	}
}

#elementor-template-library-header-preview {
	.haTemplateLibrary__pro-button {
		background-color: $secondary-color;
		color: #fff;

		&:hover,
		&:focus {
			color: #fff;
			background-color: lighten($secondary-color, 10%);
		}
	}

	.haTemplateLibrary__insert-button {
		background-color: $primary-color;
		color: #fff;

		&:hover,
		&:focus {
			color: #fff;
			background-color: lighten($primary-color, 10%);
		}
	}
}
