.haTemplateLibrary__preview {
	height: 100%;
}

.haTemplateLibrary__preview > iframe {
	height: 100%;
	width: 100%;
	transition: width .2s, height .2s;
}

.haTemplateLibrary__logo-wrap {
	margin-right: 10px;
	display: inline-block;
	width: 30px;
    height: 30px;
	text-align: center;
	line-height: 30px;
    font-size: 18px;
	border-radius: 100%;
	color: #fff;
	background-color: #562dd4;
}

.haTemplateLibrary__logo-wrap > i {
	position: relative;
    top: 1px;
}

.haTemplateLibrary__logo-title {
	padding-top: 2px;
}

.haTemplateLibrary__responsive-menu-item {
	display: inline-block;
    padding: 17px 0;
    width: 40px;
	cursor: pointer;

	&.elementor-active {
		background-image: linear-gradient(to bottom, #f1f3f5, #fff);
		border-bottom: 3px solid #D30C5C;
	}
}
